<link rel="stylesheet" href="/styles/landing.css" />

<body>
<div class="banner">
        <div class="banner_text">
          <h1>
            Earn money by displaying
            your work to us.
          </h1>
          <p>
            Create your website for free and sell physical or
            digital products to anyone online. No code needed.
            It only takes a few minutes.
          </p>
          <a href="">
            <button class="btnA">
              <svg viewBox="0 0 180 50" class="border">
                <polyline
                  points="179,1 179,59 1,59 1,1 179,1"
                  class="bg-line"
                />
                <polyline
                  points="179,1 179,59 1,59 1,1 179,1"
                  class="hl-line"
                />
              </svg>
              <a href="/template">Get Started</a>
            </button>
          </a>
        </div>
      </div>
      </body>
