<link rel="stylesheet" href="/styles/landing.css" />

<body>
  <main>
    <section class="landing1">
      <h2 class="industry-features">By Industry</h2>
      <div class="industry-container">
        <a href="">
          <div class="card">
            <img src="images/retail.png" alt="" />
            <h3>Retail</h3>
            <p>
              Provide robust retail that’s adaptable to an ever- changing
              demand.
            </p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/fintech.png" alt="" />
            <h3>Fin Tech</h3>
            <p>Empower & protect account holders</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/sport.png" alt="" />
            <h3>Sports & Entertainment</h3>
            <p>Bring fans to their feet</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/decoupled.png" alt="" />
            <h3>Decoupled</h3>
            <p>
              Render any front-end experience built on a decoupled weCode
              solution
            </p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/travel.png" alt="" />
            <h3>Travel & Tourism</h3>
            <p>Entice and inspire</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/high.png" alt="" />
            <h3>High tech</h3>
            <p>A digital presence as advance as you are</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/ecommerce.png" alt="" />
            <h3>Ecommerce</h3>
            <p>
              Provide powerful and flexible solutions for your ecommerce
              workflows
            </p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/ngo.png" alt="" />
            <h3>Nonprofit and NGOs</h3>
            <p>Advance your mission</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/heart.png" alt="" />
            <h3>Healthcare</h3>
            <p>Healing healthcare IT pain</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/highered.png" alt="" />
            <h3>Higher Ed</h3>
            <p>Empowering universities around the globe</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/ecommerce.png" alt="" />
            <h3>Media & publishing</h3>
            <p>Content at your audience's fingertips</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/global.png" alt="" />
            <h3>Government</h3>
            <p>Engage citizens around the globe</p>
          </div>
        </a>
      </div>
    </section>
    <section class="landing2">
      <h2 class="industry-features">By Features</h2>
      <div class="industry-container2">
        <div class="card">
          <img src="images/retail.png" alt="" />
          <h3>Retail</h3>
          <p>
            Provide robust retail that’s adaptable to an ever- changing demand.
          </p>
        </div>
        <a href="">
          <div class="card">
            <img src="images/fintech.png" alt="" />
            <h3>Fin Tech</h3>
            <p>Empower & protect account holders</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/sport.png" alt="" />
            <h3>Sports & Entertainment</h3>
            <p>Bring fans to their feet</p>
          </div>
        </a>
        <a href="">
          <div class="card">
            <img src="images/decoupled.png" alt="" />
            <h3>Decoupled</h3>
            <p>
              Render any front-end experience built on a decoupled weCode
              solution
            </p>
          </div>
        </a>
      </div>
    </section>
    <section class="landing_tested">
      <div class="tested_text">
        <h4>Tested and trusted by 100k Creators</h4>
        <p class="landing_p">
          Thousands of content creators, influencers, digital creators,
          photographers and many more users to create an organised digital
          presence.
        </p>
      </div>
      <div class="image_container">
        <div class="imageOverlay-container">
          <img
          src="images/testeda.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testedb.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testedc.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testedd.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testede.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testedf.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testedg.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
        <div class="imageOverlay-container">
          <img
          src="images/testedh.png"
          alt="Fin Manager"
          class="tested-img"
        />
        <div class="image-overlay">
          <span>Dave Dolphin</span>
          <p>Senior Designer</p>
        </div>
        </div>
      </div>
    </section>
    <section class="sell">
      <div class="sell-text">
        <h4>Sell anything to anyone</h4>
        <p class="sell_p">
          Whatever your ideas and creations, weCode gives you the platform to
          engage your existing audience and find even new fans anywhere in the
          world. We are here for every kind of creator!
        </p>
      </div>
      <div class="sell-card-container">
        <div class="sell-card">
          <img src="images/favorite.png" alt="" />
          <span>Easy to Use</span>
          <p>
            We ensure our tools and templates are easy to setup and customise
          </p>
        </div>
        <div class="sell-card">
          <img src="images/visibility.png" alt="" />
          <span>Premium Design</span>
          <p>Our products ensure a consistent, beautiful brand experience.</p>
        </div>
        <div class="sell-card">
          <img src="images/monetization_on.png" alt="" />
          <span>Receive Payments</span>
          <p>
            Start receiving and monetising your content and skills on WeCode
            seamlessly.
          </p>
        </div>
        <div class="sell-card">
          <img src="images/help.png" alt="" />
          <span>Get Support</span>
          <p>
            Get fast, professional help and support through all our online
            community of creators.
          </p>
        </div>
      </div>
    </section>
    <section class="about">
      <h3>Our Mission</h3>
      <p class="landing_p">
        WordPress is software designed for everyone, emphasizing accessibility,
        performance, security, and ease of use. We believe great software should
        work with minimum set up, so you can focus on sharing your story,
        product, or services freely. The basic WordPress software is simple and
        predictable so you can easily get started. It also offers powerful
        features for growth and success.
      </p>
      <p class="landing_p2">
        Supporting this idea is a large community of people collaborating on and
        contributing to this project. The WordPress community is welcoming and
        inclusive. Our contributors’ passion drives the success of WordPress
        which, in turn, helps you reach your goals.
      </p>
      <div class="buttond">
        <a href="/aboutus"><button class="btn5 btns">Learn More</button></a>
      </div>
    </section>
  </main>
</body>
