<link rel="stylesheet" href="/styles/landing.css" />


<section class="landing1">
        <h2 class="industry-features">By Industry</h2>
        <div class="industry-container">
          <a href="">
            <div class="card">
            <img src="images/retail.png" alt="" />
            <h3>Retail</h3>
            <p>
              Provide robust retail that’s adaptable to an ever- changing
              demand.
            </p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/fintech.png" alt="" />
            <h3>Fin Tech</h3>
            <p>Empower & protect account holders</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/sport.png" alt="" />
            <h3>Sports & Entertainment</h3>
            <p>Bring fans to their feet</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/decoupled.png" alt="" />
            <h3>Decoupled</h3>
            <p>
              Render any front-end experience built on a decoupled weCode
              solution
            </p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/travel.png" alt="" />
            <h3>Travel & Tourism</h3>
            <p>Entice and inspire</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/high.png" alt="" />
            <h3>High tech</h3>
            <p>A digital presence as advance as you are</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/ecommerce.png" alt="" />
            <h3>Ecommerce</h3>
            <p>
              Provide powerful and flexible solutions for your ecommerce
              workflows
            </p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/ngo.png" alt="" />
            <h3>Nonprofit and NGOs</h3>
            <p>Advance your mission</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/heart.png" alt="" />
            <h3>Healthcare</h3>
            <p>Healing healthcare IT pain</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/highered.png" alt="" />
            <h3>Higher Ed</h3>
            <p>Empowering universities around the globe</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/ecommerce.png" alt="" />
            <h3>Media & publishing</h3>
            <p>Content at your audience's fingertips</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/global.png" alt="" />
            <h3>Government</h3>
            <p>Engage citizens around the globe</p>
          </div>
          </a>
        </div>
      </section>
      <section class="landing2">
        <h2 class="industry-features">By Features</h2>
        <a href="">
          <div class="industry-container">
          <div class="card">
            <img src="images/retail.png" alt="" />
            <h3>Retail</h3>
            <p>
              Provide robust retail that’s adaptable to an ever- changing
              demand.
            </p>
          </div>
        </a>
          <a href="">
            <div class="card">
            <img src="images/fintech.png" alt="" />
            <h3>Fin Tech</h3>
            <p>Empower & protect account holders</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/sport.png" alt="" />
            <h3>Sports & Entertainment</h3>
            <p>Bring fans to their feet</p>
          </div>
          </a>
          <a href="">
            <div class="card">
            <img src="images/decoupled.png" alt="" />
            <h3>Decoupled</h3>
            <p>
              Render any front-end experience built on a decoupled weCode
              solution
            </p>
          </div>
          </a>
        </div>
      </section>
      <section class="landing_tested">
        <div class="tested_text">
          <h4>Tested and trusted by 100k Creators</h4>
          <p class="landing_p">
            Thousands of content creators, influencers, digital creators,
            photographers and many more users to create an organised digital
            presence.
          </p>
        </div>
        <div class="image_container">
          <img src="images/tested1.png" alt="" />
          <img src="images/tested2.png" alt="" />
          <img src="images/tested3.png" alt="" />
          <img src="images/tested4.png" alt="" />
          <img src="images/tested5.png" alt="" />
          <img src="images/tested6.png" alt="" />
        </div>
      </section>
      <section class="about">
        <h3>About Us</h3>
        <span
          >Welcome to weCode.com, our goal is to democratize publishing and
          eCommerce one website at a time.</span
        >
        <p class="landing_p">
          We are here to help you build a website for your business and to share
          ideas as well. Note that when you share your ideas with us, you will
          get paid.
        </p>
        <a href=""><button class="btn5 btns">Learn More</button></a>
      </section>
    