<link rel="stylesheet" href="/styles/footer.css" />

<footer>
  <div class="container1">
    <div class="container">
      <span class="title">Products</span>
      <ul>
        <a href=""><li>Domain Names</li></a>
        <a href=""><li>Website Builder</li></a>
        <a href=""><li>Create a Blog</li></a>
        <a href=""><li>Join our team!</li></a>
      </ul>
    </div>
    <div class="container">
      <span class="title">Features</span>
      <ul>
        <a href=""><li>Overview</li></a>
        <a href=""><li>Themes</li></a>
        <a href=""><li>Plugins</li></a>
      </ul>
    </div>
    <div class="container">
      <span class="title">Resources</span>
      <ul>
        <a href=""><li>Public Code</li></a>
        <a href=""><li>Forums</li></a>
        <a href=""><li>News</li></a>
      </ul>
    </div>
    <div class="container">
      <span class="title">Company</span>
      <ul>
        <a href=""><li>About</li></a>
        <a href=""><li>Partners</li></a>
        <a href=""><li>Terms of Service</li></a>
        <a href=""><li>Privacy Policy</li></a>
      </ul>
    </div>
    <div class="container">
      <span class="title">Help Center</span>
      <ul>
        <a href=""><li>Learn</li></a>
        <a href=""><li>Support</li></a>
        <a href=""><li>Report an issue</li></a>
        <a href=""><li>Help Translate</li></a>
      </ul>
    </div>
  </div>
  <div class="container2">
    <div class="socials-container">
      <span class="logo">weCode</span>
      <div class="socials">
        <a href="">
          <img src="images/twitter.png" alt="twitter logo" />
        </a>
        <a href="">
          <img src="images/facebook.png" alt="facebook logo" />
        </a>
        <a href="">
          <img src="images/youtube.png" alt="Youtube logo" />
        </a>
        <a href="">
          <img src="images/linkedin.png" alt="linkedin logo" />
        </a>
        <a href="">
          <img src="images/insta.png" alt="instagram logo" />
        </a>
      </div>
      <div class="copyright">
        <span>© 2022</span>
        <span>All Rights Reserved</span>
      </div>
    </div>
    <div class="language-container">
      <button class="btn-container">
        <img src="images/global.png" alt="" />
        <select name="language" id="">
          <option value="english">English</option>
          <option value="french">French</option>
        </select>
      </button>
    </div>
  </div>
</footer>

</body>

</html>
