<%- include('../partials/header'); -%> <%- include('../partials/navbar3'); -%>
<head>
  <title>weCode | My Sites</title>
  <link rel="stylesheet" href="/styles/mysites.css" />
</head>
<body>
  <div class="top">
    <h1 style="margin-right: 28.5%; font-size: 48px; font-weight: 500">
      My Sites
    </h1>
    <div class="up">
      <a href="" style="color: #2d0db1; margin-left: 60%; margin-top: 1.5%"
        >Create a new folder</a
      >
      <button style="margin-left: 5%; height: 50px">Create a new site</button>
    </div>
  </div>
  <h4
    style="
      font-size: 20px;
      margin-top: -1%;
      color: #4f4f4f;
      font-weight: 400;
      padding-left: 3%;
    "
  >
    Select a site to edit, view and open its dashboard
  </h4>

  <div class="bottom">
    <h1
      style="
        padding-left: 3.5%;
        font-size: 25px;
        font-weight: 500;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
      "
    >
      My Sites
    </h1>

    <div class="parts">
      <div class="folder" style="margin-left: 1.5%">
        <div>
          <img src="./pink.png" alt="" width="100%" height="auto" />
        </div>
        <div class="b-fold">
          <h2 class="down">My Sites</h2>
          <h4 class="down" style="font-size: 20px; margin-top: -4%">
            Not published
          </h4>
        </div>
      </div>
      <div class="folder">
        <div>
          <img src="./dark.png" alt="" width="100%" height="auto" />
        </div>
        <div class="b-fold">
          <h2 class="down">Website</h2>
          <h4 class="down" style="margin-top: -5%">
            <a href="" style="font-size: 25px">https://manage.weCode.com/...</a>
          </h4>
        </div>
      </div>
      <div class="folder" style="text-align: center">
        <div
          style="display: flex; align-items: center; justify-content: center"
        >
          <img
            src="./Line 5.png"
            alt=""
            height="1px"
            style="margin-top: 12%; margin-right: 6%"
          />
          <img src="./crown.png" alt="" style="margin-top: 12%" />
          <img
            src="./Line 5.png"
            alt=""
            height="1px"
            style="margin-top: 12%; margin-left: 6%"
          />
        </div>

        <h2 style="color: #5837db; font-weight: 400; margin-top: 9%">
          Upgrade to Premium
        </h2>
        <h4
          style="
            font-size: 20px;
            padding-left: 4%;
            padding-right: 4%;
            font-weight: 400;
          "
        >
          Get a free domain & remove Wix ads from your site
        </h4>
        <button style="margin-top: 10%">Upgrade</button>
      </div>
    </div>
  </div>
</body>
