<header>
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> weCode </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav">
              <li class="nav-item"><a href="" class="nav-link">Product</a></li>
              <li class="nav-item"><a href="" class="nav-link">Template</a></li>
              <li class="nav-item">
                <a href="" class="nav-link">Resources</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  href=""
                  class="nav-link dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown"
                  >More</a
                >
                <ul class="dropdown-menu">
                  <li><a href="" class="dropdown-item">a</a></li>
                  <li><a href="" class="dropdown-item">a</a></li>
                  <li><a href="" class="dropdown-item">a</a></li>
                  <li><a href="" class="dropdown-item">a</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="d=flex">
            <a href="" class="nav-link"><button class="btn">Log in</button></a>
            <a href="" class="nav-link"
              ><button class="btn">Get Started</button></a
            >
          </div>
        </div>
      </nav>