<link rel="stylesheet" href="/styles/navbar.css" />

<body>
<header>
      <nav class="navbar">
        <div class="div1">
          <a href="/register">Sign Up</a>
          <a href="/Login">Login</a>
        </div>
        <div class="div2">
          <div class="nav-flex1">
          <a class="navbar-brand" href="#"> <img src="images/weCode.png" alt=""> </a>
          <div class="collapse">
            <ul class="nav">
              <li class="nav-item">
                <a href="" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/template" class="nav-link">Products</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Features</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Resources</a>
              </li>
              <li class="nav-item">
                <a href="/aboutus" class="nav-link">About</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="nav-flex2">
          <form action="" class="form">
            <button>
              <img src="images/search-interface-symbol.png" alt="" />
            </button>
            <input
              type="search"
              name="search-bar"
              id=""
              placeholder="Search"
            />
          </form>
          <div class="d-flex">
            <a href="" class="nav-link">
              <button type="button" class="nav-btn2">Get weCode</button>
            </a>
          </div>
        </div>
        </div>
      </nav>
    </header>
    </body>
