<link rel="stylesheet" href="/styles/navbar2.css" />
<<<<<<< HEAD
<nav class="nabar">
  <div class="div1">
    <a href="/settings" class="nav-link">
      <button type="button" class="nav-btn1">
        Hello, <%= currentUser.username %>
      </button>
    </a>
    <a href="/dashboard"><img src="images/profile.png" alt="" /></a>
  </div>
  <div class="div2">
    <div class="na-flex1">
      <div>
        <a class="nabar-brand1" href="/">
          <img src="images/weCode.png" alt="" />
        </a>
=======

<header>
  <nav class="navbar">
    <div class="div1">
      <a href="/settings">Hello, Joygirl</a>
      <a href="/dashboard"><img src="images/profile.png" alt="" /></a>
    </div>
    <div class="div2">
      <div class="nav-flex1">
        <a class="navbar-brand" href="#">
          <img src="images/weCode.png" alt="" />
        </a>
        <div class="collapse">
          <ul class="nav">
            <li class="nav-item">
              <a href="" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/templates" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Features</a>
            </li>
            <li class="nav-item">
              <a href="/payment" class="nav-link">Resources</a>
            </li>
            <li class="nav-item">
              <a href="/aboutus" class="nav-link">About</a>
            </li>
          </ul>
        </div>
>>>>>>> bd9fecd2c20031fddb2856584b49716908650ac6
      </div>
      <div class="collapsey"></div>
    </div>
    <div class="na-flex2">
      <form action="" class="form">
        <button>
          <img src="images/search-interface-symbol.png" alt="" />
        </button>
        <input type="search" name="search-bar" id="" placeholder="Search" />
      </form>
      <div class="e-flex">
        <a href="/templates" class="nav-lin">
          <button type="button" class="nav-btn2">Get weCode</button>
        </a>
      </div>
    </div>
  </div>
</nav>
<% if(error && error.length>0){ %>
<div class="alert alert-primary" role="alert"><%= error %></div>
<% } else if(success &&success.length>0){ %>
<div class="alert alert-success" role="alert"><%= success %></div>
<% } else if(welcome && welcome.length>0){ %>
<div class="alert alert-info" role="alert"><%= welcome %></div>
<% }%>
