<link rel="stylesheet" href="/styles/navbar.css" />

<body>
<header>
      <nav class="navbar">
          <div class="nav-flex1">
            <a class="navbar-brand" href="#"> <img src="images/weCode.png" alt=""> </a>
            <div class="collapse">
              <ul class="nav">
                <li class="nav-item">
                  <a href="" class="nav-link">Product</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Template</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Resources</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">More</a>
                </li>
              </ul>
            </div>
          </div>
        <div class="nav-flex2">
          <form action="">
            <button><img src="images/search-interface-symbol.png" alt=""></button>
            <input type="search" name="search-bar" id="" placeholder="search template">
          </form>
          <div class="d-flex">
            <a href="/login" class="nav-link">
                <button type="button" class="nav-btn1">Log in</button>
            </a>
            <a href="/register" class="nav-link">
                <button type="button" class="nav-btn2">Get Started</button>
            </a>
          </div>
        </div>
      </nav>
    </header>
    </body>
