body{
    margin-top: 5%;
    margin-left: 7%;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
}
.tiny-div{
    height: 5%;
    width: 9%;
    padding-top: 0.5%;
    background-color: #360fd4;
    margin-bottom: -2%;
    color: #360fd4;
}
.grid{
    display: flex;
    /* grid-template-areas: 
    'one two'; */
    gap: 35px;
    width: 100%;
   margin-top: 9%;
}
.image{
    margin-left: 33%;
    display: block;
    z-index: -1;
    position: absolute;
    margin-top: -24%;
}
.form{
    margin-top: 15%;
}
.form form{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 15px;
}
form input{
    border: 1px solid black;
    border-radius: 6px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 20px;
    padding-left: 3%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
form textarea{
    border: 1px solid black;
    border-radius: 6px;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 3%;
    padding-left: 3%;
}
.submit{
    width: 19%;
    padding: 2.5% 3%;
    background-color: #623CEA;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 3%;
    font-size: 20px;
}
.one{
    /* grid-area: one; */
    text-align: center;
    background-color: white;
    box-shadow: 2px -1px 22px rgba(0, 0, 0, 0.05);
    width: 250px;
    height: 250px;
    padding: 2%;
    border-radius: 5px;
}
.two{
    /* grid-area: two; */
    text-align: center;
    background-color: white;
    box-shadow: 2px -1px 22px rgba(0, 0, 0, 0.05);
    width: 250px;
    height: 250px;
    padding: 2%;
    border-radius: 5px;
}
button{
    padding: 5% 6%;
    border-radius: 5px;
    background-color: #623CEA;;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}