body{
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}
.side-nav{
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    padding-top: 6%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    font-size: 14px;
}
.side-nav a{
    padding-top: 3%;
    padding-bottom: 6%;
    display: block;
    text-decoration: none;
}
progress{
    accent-color: #360FD4;
    position: relative;
}
.home{
    background-color: #795FE2;
    color: #FFFFFF;
}
img{
    margin-right: 3%;
    margin-left: 6%;
}
main{
    margin-left: 19%;
}
section{
    background: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}
.welcome{
    display: flex;
}
.select{
    height: 50%;
    margin-top: 1%;
    margin-right: 3%;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #F5F5F5;
    display: flex;
    font-size: 16px;
    white-space: nowrap;
}
.customize{
    height: 50%;
    padding: 12px 20px;
    margin-top: 1%;
    border-radius: 8px;
    background-color: white;
    border: 1px solid #F5F5F5;
    display: flex;
    font-size: 16px;
    white-space: nowrap;
}
.column{
    columns: 4;
    column-rule: 1px solid #795FE2;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    gap: 18;
    width: 95%;
    margin-left: 1.5%;
    margin-bottom: 5%;
}
.column p{
    font-size: 14px;
    text-align: center;
}
.one, .two, .three, .four, .five, .six{
    display: flex;
    border: 1px solid grey;
    margin-bottom: 1.5%;
    padding: 1.1% 1%;
    border-radius: 8px;
    white-space: nowrap;
    width: 95%;
}
.purple-words{
    font-weight: 500;
    color: #360fd4;
}
/* .main-words{
     margin-right: 77%;
} */