<h2>Edit Item</h2>
<form action="/navform" method="post">
  <input
    type="text"
    name="nav"
    placeholder="Home"
    style="display: block; margin: 10px 0"
  />
  <input type="submit" />
</form>
