<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter|Roboto"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/images/favicon-32x32.png"
    />
    <!-- <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/landing.css">
    <link rel="stylesheet" href="/styles/footer.css">
  -->
    <title>weCode | website</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
        background-color: rgb(3, 3, 66);
      "
    >
      <div
        style="
          display: flex;
          justify-content: space-between;
          gap: 2em;
          align-items: center;
        "
      >
        <% Navbar.forEach(function(navbar){ %>
        <a href="/edit" style="text-decoration: none; color: white"
          ><%= navbar.nav %></a
        >
        <% }) %>
      </div>
      <div
        style="
          display: flex;
          justify-content: flex-end;
          gap: 2em;
          align-items: center;
        "
      >
        <% Navbar.forEach(function(navbar){ %>
        <a href="/edit" style="text-decoration: none; color: white"
          ><%= navbar.nav2 %></a
        >
        <% }) %>
      </div>
      <div style="display: flex; justify-content: flex-end">
        <a href="/navform" title="Add item">+</a>
      </div>
    </div>
  </body>
</html>
