<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>website | navbar</title>
  </head>
  <body>
    <form action="/navbar" method="post">
      <input type="text" name="nav1" placeholder="item 1" />
      <input type="text" name="nav2" placeholder="item 2" />
      <input type="text" name="nav3" placeholder="item 3" />
      <input type="text" name="nav4" placeholder="item 4" />
      <input type="submit" />
    </form>
  </body>
</html>
