<head>
  <title>weCode | 404</title>
  <link rel="stylesheet" href="/styles/404.css" />
  <link rel="stylesheet" href="/styles/SignUp.css" />
</head>

<body>
  <section class="error-container container">
    <a class="navbar-brand" href="/">
      <img src="images/weCode.png" alt="" />
    </a>
    <img
      class="error-img"
      src="./images/error-illustration.png"
      alt="error-illustration"
    />
    <h4 class="error-heading">Page Not Found</h4>
    <p class="error-message">
      Oops! The page you are looking for does not exist. It might have been
      moved or deleted.
    </p>
    <a href="/">
      <button class="btn error-back-home">GO BACK HOME</button>
    </a>
  </section>
</body>
