<%- include('../partials/navbar2'); -%>
<head>
  <title>weCode | aboutus</title>
  <link
    rel="icon"
    type="images/x-icon"
    sizes="16x16 32x32 96x96 120x120 180x180 300x300 512x512"
    href="/images/favicon32x32.ico"
  />
</head>
<link rel="stylesheet" href="/styles/aboutus.css" />

<div class="aboutus-head">
  <h3 class="head-h">Democratize Publishing</h3>
  <p class="head-p">
    The freedom to build. The freedom to change. The freedom to share.
  </p>
</div>
<section>
  <div class="text">
    <div>
      <h3 class="text-head">Our Mission</h3>
      <p class="text-p">
        WordPress is software designed for everyone, emphasizing accessibility,
        performance, security, and ease of use. We believe great software should
        work with minimum set up, so you can focus on sharing your story,
        product, or services freely. The basic WordPress software is simple and
        predictable so you can easily get started. It also offers powerful
        features for growth and success.
      </p>

      <p class="text-p">
        Supporting this idea is a large community of people collaborating on and
        contributing to this project. The WordPress community is welcoming and
        inclusive. Our contributors’ passion drives the success of WordPress
        which, in turn, helps you reach your goals.
      </p>
    </div>
    <div>
      <h3 class="text-head">What do we believe in?</h3>
      <p class="text-p">
        Anyone with a great idea should be able to get it online and we’re here
        to help you do just that. We are working on improving the amazing
        product line up we have for you. We are here to help you find new ways
        to do things online with ever.
      </p>
    </div>
    <div>
      <h3 class="text-head">Who are we?</h3>
      <p class="text-p">
        Anyone with a great idea should be able to get it online and we’re here
        to help you do just that. We are working on improving the amazing
        product line up we have for you. We are here to help you find new ways
        to do things online with ever.
      </p>
    </div>
  </div>
</section>
<%- include('../partials/footer'); -%>
