<%- include('../partials/navbar'); -%> <%- include('../partials/banner'); -%>
<head>
  <title>weCode | aboutus</title>
</head>
<link rel="stylesheet" href="/styles/aboutus.css" />
<!-- <div class="nav-about">
  <h3>ABOUT US</h3>
</div> -->
<div class="about">
  <div class="about1">
    <h2>Our Mission</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores
      doloremque pariatur dolore, ex minima totam quos nemo assumenda.
      Repudiandae, eaque praesentium cumque eius dolorem maxime numquam
      blanditiis natus corporis similique!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo
      nostrum dicta aperiam facere quia, harum eveniet dolore quaerat
    </p>
  </div>
  <div class="about1">
    <h2>What do we believe in?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo
      nostrum dicta aperiam facere quia, harum eveniet dolore quaerat
    </p>
  </div>
  <div class="about1">
    <h2>What are we?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quo
      nostrum dicta aperiam facere quia, harum eveniet dolore quaerat
    </p>
  </div>
</div>
<!-- <div class="nav-about2">
  <p>
    We are here to help you build a website for your business <br />
    and to share ideas as well. Note that when you share your <br />
    ideas with us, you will get paid.
  </p>
  <p></p>
</div> -->
<%- include('../partials/footer'); -%>
