<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<head>
  <title>weCode | admin</title>
</head>
<link rel="stylesheet" href="/styles/admin.css" />
<body>
  <img class="center-image" src="<%= 'images/image9.png' %>" alt="" />
</body>
<%- include('../partials/footer'); -%>
