<head>
  <title>weCode | Change Password</title>
  <link rel="stylesheet" href="/styles/SignUp.css" />
  <!-- add fontawesome -->
  <script
    src="https://kit.fontawesome.com/51e04b70b4.js"
    crossorigin="anonymous"
  ></script>
</head>
<body>
  <a class="navbar-brand" href="/">
    <img src="images/weCode.png" alt="" />
  </a>
  <div class="sign-up_container container">
    <!-- left/image section of the sign-up container -->
    <div class="sign-up_img"></div>

    <form action="/changepassword" method="post">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="username" />
      <label for="password">Old Password</label>
      <input
        type="password"
        name="oldpassword"
        placeholder="Enter Old password"
      />
      <label for="password">New Password</label>
      <input
        type="password"
        name="newpassword"
        placeholder="Enter New password"
      />
        <input type="submit" value="Change Password" />
      </form>
</body>