<%- include('../partials/header'); -%><%- include('../partials/navbar'); -%>
<head>
  <title>weCode | contacts</title>
  <link rel="stylesheet" href="/styles/contacts.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    rel="stylesheet"
  />
  <link
    rel="icon"
    type="images/x-icon"
    sizes="16x16 32x32 96x96 120x120 180x180 300x300 512x512"
    href="/images/favicon32x32.ico"
  />
</head>
<div class="contac">
  <div class="tiny-div"></div>
  <div class="hd" style="text-align: center; margin: 0 auto; padding: 30px 0">
    <h1 style="font-size: 36px; font-weight: 700; color: #360fd4">
      Contact Us
    </h1>
    <h6 style="font-size: 20px; font-weight: 400">
      Whether you're curious about a feature or any inquries - We are ready to
      answer any and all of your questions
    </h6>
  </div>

  <div class="grid">
    <div class="two-img">
      <div class="one" style="line-height: 30px; width: 40%">
        <img src="images/question.png" alt="" />
        <h4 style="font-size: 28px; font-weight: 500">Get 24/7 Support</h4>
        <p style="font-size: 20px">
          Ask a questions, Watch Tutorials or Connect with an agent
        </p>
        <a href=""><button id="but">Help Center</button></a>
      </div>
      <div class="two" style="line-height: 30px; width: 40%">
        <img src="images/question.png" alt="" />
        <h4 style="font-size: 28px; font-weight: 500">Got questions?</h4>
        <p style="font-size: 20px">
          Confirm if your questions have already been answered
        </p>
        <a href="/faq"><button id="but">FAQ</button></a>
      </div>
    </div>
    <div class="image">
      <img src="images/unsplash_BlIhVfXbi9s.png" width="70%" alt="" />
    </div>
  </div>

  <div class="cont">
    <div class="formm">
      <h4 style="font-size: 24px; font-weight: 500">
        Here's how you can reach us
      </h4>
      <form method="POST" action="/contacts" class="">
        <input type="text" id="name" placeholder="Full Names" name="names" />
        <input type="email" placeholder="Email Address" name="email" required />
        <input type="text" placeholder="Subject" name="subject" required />
        <textarea
          name="message"
          placeholder="Message"
          id=""
          rows="8"
          style="display: block"
        ></textarea>
        <button type="submit" id="buts">Send</button>
      </form>
    </div>
    <div class="contact" style="width: 40%; line-height: 40px">
      <h1
        style="
          text-align: justify;
          font-size: 32px;
          color: #4f4f4f;
          font-weight: 500;
        "
      >
        Contact our Team
      </h1>
      <h6
        style="
          text-align: justify;
          font-size: 20px;
          color: #4f4f4f;
          font-weight: 500;
        "
      >
        Let's explore how weCode can work for you
      </h6>

      <h1
        style="
          text-align: justify;
          font-size: 28px;
          color: #4f4f4f;
          font-weight: 500;
        "
      >
        General communication
      </h1>
      <h6
        class="c-words"
        style="
          text-align: justify;
          font-size: 20px;
          color: #4f4f4f;
          font-weight: 500;
        "
      >
        For general queries, including partnership opportunities, please email
        weCode@gmail.com
      </h6>

      <h1
        style="
          text-align: justify;
          font-size: 28px;
          color: #4f4f4f;
          font-weight: 500;
        "
      >
        Technical or account support
      </h1>
      <h6
        style="
          text-align: justify;
          font-size: 20px;
          color: #4f4f4f;
          font-weight: 500;
        "
      >
        We're here to help! If you have technical issues contact us
      </h6>
      <h6 style="font-size: 20px; font-weight: 500; color: #4f4f4f">
        Looking for Support?
        <a href="/help" style="color: red">Visit Help & Support</a>
      </h6>
    </div>
  </div>
</div>
<script>
  $(() => {
    $("#send").click(() => {
      sendMessage({
        name: $("#name").val(),
        message: $("#message").val(),
      });
    });
    getMessages();
  });

  function addMessages(message) {
    $(`#messages`).append(`
      <h4> ${message.name} </h4>
      <p>  ${message.message} </p>`);
  }

  function getMessages() {
    $.get(`http://localhost:9000/messages`, (data) => {
      data.forEach(addMessages);
    });
  }

  function sendMessage(message) {
    $.post(`http://localhost:9000/messages`, message);
  }
</script>

<%- include('../partials/footer'); -%>
