<%- include('../partials/header'); -%> <%- include('../partials/navbar2'); -%>
<head>
  <title>weCode | dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css" />
  <script src="https://kit.fontawesome.com/51e04b70b4.js" crossorigin="anonymous"></script>
</head>


<body>
  <main>
  
     <div class="side-nav">
          <!-- side bar -->
          <article class="settings-container_side-bar">

            <!-- side bar menu -->
            <ul class="side-bar_menu">
                <!-- home menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-house-user"></i>
                        </span>
                        <p class="side-bar_menu-text">Home</p>
                    </a>
                </li>

                <!-- dashboard menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-grip"></i>
                        </span>
                        <p class="side-bar_menu-text">Dashboard</p>
                    </a>
                </li>

                <!-- update menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-bell"></i>
                        </span>
                        <p class="side-bar_menu-text">Updates</p>
                    </a>
                </li>

                <!-- media menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-photo-film"></i>
                        </span>
                        <p class="side-bar_menu-text">Media</p>
                    </a>
                </li>

                <!-- pages menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-file-circle-plus"></i>
                        </span>
                        <p class="side-bar_menu-text">Pages</p>
                    </a>
                </li>

                <!-- comments menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-comments"></i>
                        </span>
                        <p class="side-bar_menu-text">Comments</p>
                    </a>
                </li>

                <!-- testimonials menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-quote-right"></i>
                        </span>
                        <p class="side-bar_menu-text">Testimonials</p>
                    </a>
                </li>

                <!-- our teams menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <p class="side-bar_menu-text">Our Teams</p>
                    </a>
                </li>

                <!-- plugins menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-sharp fa-solid fa-sliders"></i>
                        </span>
                        <p class="side-bar_menu-text">Plugins</p>
                    </a>
                </li>

                <!-- users menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        <p class="side-bar_menu-text">Users</p>
                    </a>
                </li>

                <!-- tools menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-wrench"></i>
                        </span>
                        <p class="side-bar_menu-text">Tools</p>
                    </a>
                </li>

                <!-- settings menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-gear"></i>
                        </span>
                        <p class="side-bar_menu-text">Settings</p>
                    </a>
                </li>

                <!-- logout menu item -->
                <li>
                    <a class="side-bar_menu-item" id="logout-menu-item" type="button">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </span>
                        <p class="side-bar_menu-text">Logout</p>
                    </a>
                </li>

                <!-- collapse menu item -->
                <li>
                    <a href="" class="side-bar_menu-item">
                        <span class="side-bar_menu-icon_container">
                            <i class="fa-solid fa-angles-left"></i>
                        </span>
                        <p class="side-bar_menu-text">Collapse Menu</p>
                    </a>
                </li>
            </ul>
        </article>

        <!-- main panel -->
        <section class="settings-container_main-panel">

            <!-- logout popup screen : hidden by default -->
            <div class="overlay"></div>
            <aside class="logout-popup">
                <h4 class="logout-header">Logout</h4>
                <p class="logout-subtext">
                    Are you sure you want to log out?
                </p>
                <div class="logout-flex">
                    <a class="logout-cancel" type="button">Cancel</a>
                    <a href="" class="logout-logout">Logout</a>
                </div>
            </aside>
    </div>

    <div class="main-dash">
      <div>
        <div class="profile-dash">
          <p class="main-profile">Profile</p>
          <button class="select">
            My Sites
          </button>
      </div>
      </div>

      <div class="profile-dash">
        <div >
          <div class="acc-dash">
          <img src="images/joy-pfp.png" alt="profile-img" class="profile-img">
          <div class="profile">
            <p>Joygirl</p>
            <p>@joy on weCode</p>
          </div>
        </div>
        </div>
          <div class="min-dash">
          <p>Edit Profile</p>
          <p>Edit Forum Profile</p>
          <p>Edit Notification Settings</p>
          </div>
      </div>

      
      <div class="section">
        <div class="sections"> 
        <div class="section1">
          <p class="dash-content">At a glance</p>
          <div>
            <div class="min-content">
              <div class="min-content5">
                <i class="fa-solid fa-thumbtack"></i>
                  <p class="content4">5 post</p>
              </div>
              <div class="min-content5">
                <i class="fa-solid fa-file-circle-plus"></i>
                  <p class="content4">5 post</p>
              </div>
            </div>
            <div class="min-content1">
              <div class="min-content5">
                <i class="fa-regular fa-message"></i>
                <p class="class= content4">2 comments</p>
              </div>
            <p>
              weCode running Multipurpose theme.<br>
              Search Engines Discourage
            </p>
          </div>
          </div>
        </div>
        <div class="section2">
          <p class="dash-content">Activity</p>
          <p class="min-content1">Recently Published</p>
          <div class="">
            <div class="min-content3">
              <p>December 12th 2022, 5:05pm</p>
              <p class="content4">Post for learn Education</p>
            </div>
            <div class="min-content3">
              <p>December 12th 2022, 5:05pm</p>
              <p class="content4">Post for Advanced Education</p>
            </div>
            <div class="min-content3">
              <p>December 12th 2022, 5:05pm</p>
              <p class="content4">This is a sample page</p>
            </div>
            <div class="min-content3">
              <p>December 12th 2022, 5:05pm</p>
              <p class="content4">Dummy Post for Education</p>
            </div>
            <div class="min-content3">
              <p>December 12th 2022, 5:05pm</p>
              <p class="content4">Hello David!</p>
            </div>
          </div>
          <p class="dash-content">Recent Comments</p>
          <div class="acc-dash1">
            <img src="images/joy-pfp.png" alt="" class="profile-img1">
            <div class="img-content"> 
              <p>From admin on Hello David!</p>
            <p>Thanks so much</p>
            </div>
          </div>
          <div class="acc-dash1">
            <img src="images/joy-pfp.png" alt="" class="profile-img1">
            <div class="img-content"> 
              <p>From weCode on Hello David!</p>
            <p>You are welcome</p>
            </div>
          </div>
          <button class="ld-more">Load More</button>
        </div>
        </div>
        <div class="sections"> 
        <div class="section3">
          <p class="dash-content">Quick draft</p>
          <div>
            <form action="" class="formstyle">
              <label for="Title"></label><br>
              <input type="text" id="title" name="title" placeholder="Title"><br>
              <label for="What is on your mind"></label>
              <textarea name="" id="" cols="20" rows="5" placeholder="What is on Your mind?"></textarea><br>
              <button class="ld-more">Submit</button>
            </form>
          </div>
         </div>
         <div class="section4">
          <p class="dash-content">
            weCode Events and News
          </p>
          <div class="box-blog">
            <p class="box-blog1"> Attend and upcoming Event near you.</p>
            <div class="box-blog1">
              <p>Global weCode Translation Day</p>
              <p>Ikeja, Lagos</p>
            </div>
            <div class="box-blog1">
              <p>Global weCode Translation Day 3</p>
              <p>Dev Blog: Global weCode Translation Day 4</p>
            </div>
            <div class="box-blog1">
              <p>Hero Bliss: Challenge Gladly Accepted</p>
              <p>Dev Blog: Global weCode Translation Day 4</p>
            </div>
            <div class="box-blg">
              <p>Designers Day</p>
              <p>Dev Blog: Global weCode Translation Day 4</p>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>

  







 
  

  


  </main>
</body>


