<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<head>
  <title>weCode | dashboard</title>
</head>
<link rel="stylesheet" href="/styles/Login.css" />

<img class="center-image" src="<%= 'images/image9.png' %>" alt="" />

<%- include('../partials/footer'); -%>
