<%- include('../partials/navbar2'); -%>
<head>
  <title>weCode | dashboard</title>
  <link rel="stylesheet" href="/styles/dashboard.css" />
  <link
    rel="icon"
    type="images/x-icon"
    sizes="16x16 32x32 96x96 120x120 180x180 300x300 512x512"
    href="/images/favicon32x32.ico"
  />
</head>

<body>
  <main>
    <div class="side-nav">
      <div>
        <p>Dashboard</p>
      </div>
      <div>
        <p>Home</p>
        <p>Update</p>
      </div>
      <div>
        <p>Dashboard</p>
      </div>
      <div>
        <p>Media</p>
      </div>
      <div>
        <p>Pages</p>
      </div>
      <div>
        <p>Comment</p>
      </div>
      <div>
        <p>Testimonial</p>
      </div>
      <div>
        <p>Our Team</p>
      </div>
      <div>
        <p>Plugins</p>
      </div>
      <div>
        <p>User</p>
      </div>
      <div>
        <p>Tools</p>
      </div>
      <div>
        <p>Settings</p>
      </div>
      <div>
        <p>Collapse Menu</p>
      </div>
      <div>
        <p>Log Out</p>
      </div>
    </div>

    <div class="main-dash">
      <div>
        <div class="profile-dash">
          <p class="main-profile">Profile</p>
          <button class="select">My Sites</button>
        </div>
      </div>

      <div class="profile-dash">
        <div>
          <div class="acc-dash">
            <img
              src="images/joy-pfp.png"
              alt="profile-img"
              class="profile-img"
            />
            <div class="profile">
              <p>Joygirl</p>
              <p>@joy on weCode</p>
            </div>
          </div>
        </div>
        <div class="min-dash">
          <p>Edit Profile</p>
          <p>Edit Forum Profile</p>
          <p>Edit Notification Settings</p>
        </div>
      </div>

      <div class="section">
        <div class="sections">
          <div class="section1">
            <p class="dash-content">At a glance</p>
            <div>
              <div class="min-content">
                <p>5 post</p>
                <p>5 post</p>
              </div>
              <div class="min-content1">
                <p>2 comments</p>
                <p>
                  weCode running Multipurpose theme.<br />
                  Search Engines Discourage
                </p>
              </div>
            </div>
          </div>
          <div class="section2">
            <p class="dash-content">Activity</p>
            <p class="min-content1">Recently Published</p>
            <div class="">
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Post for learn Education</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Post for Advanced Education</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">This is a sample page</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Dummy Post for Education</p>
              </div>
              <div class="min-content3">
                <p>December 12th 2022, 5:05pm</p>
                <p class="content4">Hello David!</p>
              </div>
            </div>
            <p class="dash-content">Recent Comments</p>
            <div class="acc-dash1">
              <img src="images/joy-pfp.png" alt="" class="profile-img1" />
              <div class="img-content">
                <p>From admin on Hello David!</p>
                <p>Thanks so much</p>
              </div>
            </div>
            <div class="acc-dash1">
              <img src="images/joy-pfp.png" alt="" class="profile-img1" />
              <div class="img-content">
                <p>From weCode on Hello David!</p>
                <p>You are welcome</p>
              </div>
            </div>
            <button class="ld-more">Load More</button>
          </div>
        </div>
        <div class="sections">
          <div class="section3">
            <p class="dash-content">Quick draft</p>
            <div>
              <form action="" class="formstyle">
                <label for="Title"></label><br />
                <input
                  type="text"
                  id="title"
                  name="title"
                  placeholder="Title"
                /><br />
                <label for="What is on your mind"></label>
                <textarea
                  name=""
                  id=""
                  cols="20"
                  rows="5"
                  placeholder="What is on Your mind?"
                ></textarea
                ><br />
                <button class="ld-more">Submit</button>
              </form>
            </div>
          </div>
          <div class="section4">
            <p class="dash-content">weCode Events and News</p>
            <div class="box-blog">
              <p class="box-blog1">Attend and upcoming Event near you.</p>
              <div class="box-blog1">
                <p>Global weCode Translation Day</p>
                <p>Ikeja, Lagos</p>
              </div>
              <div class="box-blog1">
                <p>Global weCode Translation Day 3</p>
                <p>Dev Blog: Global weCode Translation Day 4</p>
              </div>
              <div class="box-blog1">
                <p>Hero Bliss: Challenge Gladly Accepted</p>
                <p>Dev Blog: Global weCode Translation Day 4</p>
              </div>
              <div class="">
                <p>Designers Day</p>
                <p>Dev Blog: Global weCode Translation Day 4</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
