<%- include('../partials/header'); -%> <%- include('../partials/navbar2'); -%>
<head>
  <title>weCode | element</title>
</head>
<link rel="stylesheet" href="/styles/element.css" />

<div class="element-head">
  <h2 class="h2">Elements</h2>
  <p class="text">
    Select an element to create a new section for your page. Add your content
    heading, text, images, videos and links when you are done.
  </p>
</div>
<section class="section">
  <div class="box box1">
    <div class="icon-container"><i class="fa-solid fa-share-nodes"></i></div>
    <h4 class="element-box-header">Icons</h4>
    <p class="element-box-p">Social media links</p>
  </div>
  <div class="box box2">
    <div class="icon-container"><i class="fa-duotone fa-link-simple"></i></div>
    <h4 class="element-box-header">Buttons</h4>
    <p class="element-box-p">Multiple Links</p>
  </div>
  <div class="box box3">
    <div class="icon-container"><i class="fa-solid fa-bars"></i></div>
    <h4 class="element-box-header">Text</h4>
    <p class="element-box-p">Content area</p>
  </div>
  <div class="box box4">
    <div class="icon-container"><i class="fa-regular fa-image"></i></div>
    <h4 class="element-box-header">Images</h4>
    <p class="element-box-p">Photos and Gifs</p>
  </div>
  <div class="box box5">
    <div class="icon-container">
      <i class="fa-solid fa-rectangle-vertical-history"></i>
    </div>
    <h4 class="element-box-header">Carousels</h4>
    <p class="element-box-p">Photos in Slides</p>
  </div>
  <div class="box box6">
    <div class="icon-container"><i class="fa-solid fa-list"></i></div>
    <h4 class="element-box-header">Lists</h4>
    <p class="element-box-p">Text and Image Link</p>
  </div>
  <div class="box box7">
    <div class="icon-container"><i class="fa-brands fa-youtube"></i></div>
    <h4 class="element-box-header">YouTube</h4>
    <p class="element-box-p">Embed Videos</p>
  </div>
  <div class="box box8">
    <div class="icon-container">
      <i class="fa-solid fa-cloud-arrow-down"></i>
    </div>
    <h4 class="element-box-header">Import</h4>
    <p class="element-box-p">Links from Linktree</p>
  </div>

  <div class="box box9">
    <div class="text-explore">
      <h4 class="element-box-header explore">Explore</h4>
      <p class="element-box-p">Visit weCODE Explore</p>
    </div>
    <div class="icon-container explore-icon">
      <i class="fa-solid fa-magnifying-glass-plus"></i>
    </div>
  </div>
</section>
<div class="help">
  <p class="help-p">Need Help</p>
  <i class="fa-solid fa-circle-question"></i>
</div>
Footer © 2022 GitHub, Inc. Footer navigation Terms Privacy
