<%- include('../partials/navbar2'); -%>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>weCode | Info template</title>
<link rel="stylesheet" href="/styles/infotemplate.css" />
<link
  rel="icon"
  type="images/x-icon"
  sizes="16x16 32x32 96x96 120x120 180x180 300x300 512x512"
  href="/images/favicon32x32.ico"
/>
<body class="my-body">
  <!-- hero container -->
  <main class="it-hero-background">
    <!-- hero text container -->
    <div class="it-hero-text_container">
      <h1 class="it-hero-header">Choose a website template you love</h1>
      <p class="it-hero-subtext">
        Thousands of businesses, ideas and profiles have been launched on
        weCode. Which template will you choose?
      </p>
    </div>
  </main>

  <!-- return to template divider -->
  <article class="return-to-temp_container">
    <div class="return-to-temp">
      <div class="return-to-temp_flex">
        <!-- return to template left flex container -->
        <div class="return-to-temp_left-flex">
        <a href="/templates">  <i class="fa-solid fa-arrow-left return-to-temp_back"></i></a>
          <p class="return-to-temp_left-flex_text-1">Return to Templates</p>
          <p class="return-to-temp_left-flex_text-2">Create a New Pattern</p>
        </div>

        <!-- return to template right flex container -->
        <div class="return-to-temp_right-flex">
          <span class="return-to-temp_right-flex_left">
            <i class="fa-solid fa-angle-left"></i>
          </span>
          <span class="return-to-temp_right-flex_right">
            <i class="fa-solid fa-angle-right"></i>
          </span>
        </div>
      </div>
    </div>
  </article>

  <!-- dolphin divider -->
  <aside class="dolphin-divider">
    <span class="dolphin-divider_dolphin">Dolphin</span>
    <span class="dolphin-divider_by">by</span>
    <span class="dolphin-divider_weCode">weCode</span>
  </aside>

  <!-- info template section -->
  <section class="info-template-section_container">
    <!-- info template left section -->
    <div class="info-template-section_left-container">
      <img
        class="dolphin-template_image"
        src="/images/template1.png"
        alt="dolphin template image"
      />

      <!-- style variation header -->
      <h4 class="style-variations_header">Style Variations</h4>

      <!-- style variation boxes container -->
      <div class="style-variations-boxes_container">
        <!-- style variation box 1 -->
        <div class="style-variation-box style-variation-box1">
          <h4 class="style-variation-aa">Aa</h4>
          <div class="style-variation-circle_container">
            <div class="circle1"></div>
            <div class="circle2"></div>
          </div>
        </div>

        <!-- style variation box 2 -->
        <div class="style-variation-box style-variation-box2">
          <h4 class="style-variation-aa">Aa</h4>
          <div class="style-variation-circle_container">
            <div class="circle1"></div>
            <div class="circle2"></div>
          </div>
        </div>

        <!-- style variation box 3 -->
        <div class="style-variation-box style-variation-box3">
          <h4 class="style-variation-aa">Aa</h4>
          <div class="style-variation-circle_container">
            <div class="circle1"></div>
            <div class="circle2"></div>
          </div>
        </div>

        <!-- style variation box 4 -->
        <div class="style-variation-box style-variation-box4">
          <h4 class="style-variation-aa">Aa</h4>
          <div class="style-variation-circle_container">
            <div class="circle1"></div>
            <div class="circle2"></div>
          </div>
        </div>
      </div>

      <p class="style-variation-subtext">
        Dolphin is designed to take advantage of the new design tools introduced
        in WordPress 6.1. With a clean, blank base as a starting point, this
        default theme includes ten diverse style variations created by members
        of the weCode community. Whether you want to build a complex or
        incredibly simple website, you can do it quickly and intuitively through
        the bundled styles or dive into creation and full customization
        yourself.
      </p>

      <!-- style variation header 2-->
      <h4 class="style-variations_header">Style Variations</h4>

      <div class="pattern-container">
        <img class="pattern_image" src="/images/pattern1.png" alt="pattern1" />
        <img class="pattern_image" src="/images/pattern2.png" alt="pattern2" />
        <img class="pattern_image" src="/images/pattern3.png" alt="pattern3" />
        <img class="pattern_image" src="/images/pattern4.png" alt="pattern4" />
        <img class="pattern_image" src="/images/pattern5.png" alt="pattern5" />
        <img class="pattern_image" src="/images/pattern6.png" alt="pattern6" />
      </div>

      <a href="/preview">
        <button class="show-all-patterns">Show All Patterns</button>
      </a>
    </div>

    <!-- info template right section -->
    <div class="info-template-section_right-container">
      <!-- preview download buttons -->
      <div class="preview-download-btns">
        <a href="/createuser">
          <button class="preview-download_preview-btn">Create Now</button>
        </a>
        <a href="/mysites">
          <button class="preview-download_download-btn">Download</button>
        </a>
      </div>

      <!-- preview download subtexts -->
      <p class="preview-download-subtext">Dolphins Template by weCode</p>
      <p class="preview-download-subtext">Version: 1.3</p>
      <p class="preview-download-subtext">Last updated: November 2, 2022</p>
      <p class="preview-download-subtext">Active Installations: 1+ million</p>
      <p class="preview-download-subtext">WordPress Version: 5.9 or higher</p>
      <p class="preview-download-subtext">PHP Version: 5.6 or higher</p>
      <p class="preview-download-subtext">Theme Homepage</p>

      <!-- ratings -->
      <h4 class="ratings">Ratings</h4>
      <div class="rating-stars_container">
        <i class="fa-solid fa-star star-filled"></i>
        <i class="fa-solid fa-star star-filled"></i>
        <i class="fa-solid fa-star star-filled"></i>
        <i class="fa-regular fa-star star-empty"></i>
        <i class="fa-regular fa-star star-empty"></i>
      </div>

      <!-- rating stars progress -->
      <span class="progress-bar_flex">
        <p class="5stars">5 stars</p>
        <div class="progress-bar_container">
          <div class="progress-bar progress-bar1"></div>
        </div>
      </span>
      <span class="progress-bar_flex">
        <p class="5stars">4 stars</p>
        <div class="progress-bar_container">
          <div class="progress-bar progress-bar2"></div>
        </div>
      </span>
      <span class="progress-bar_flex">
        <p class="5stars">3 stars</p>
        <div class="progress-bar_container">
          <div class="progress-bar progress-bar3"></div>
        </div>
      </span>
      <span class="progress-bar_flex">
        <p class="5stars">2 stars</p>
        <div class="progress-bar_container">
          <div class="progress-bar progress-bar4"></div>
        </div>
      </span>
      <span class="progress-bar_flex">
        <p class="5stars">1 stars</p>
        <div class="progress-bar_container">
          <div class="progress-bar progress-bar5"></div>
        </div>
      </span>

      <!-- add my review button -->
      <a href="">
        <button class="it-btn">Add my Review</button>
      </a>

      <!-- support -->
      <h4 class="support-header">Support</h4>
      <p class="support-subtext">Got something to say? Need help?</p>
      <a href="">
        <button class="it-btn support-btn">View Support Forum</button>
      </a>

      <!-- report -->
      <h4 class="report-header">Report</h4>
      <p class="report-subtext">Does this theme have major issues?</p>
      <a href="">
        <button class="it-btn report-btn">Report this Template</button>
      </a>
    </div>
  </section>

  <%- include('../partials/footer'); -%>
  <!-- link fontawesome -->
  <script
    src="https://kit.fontawesome.com/51e04b70b4.js"
    crossorigin="anonymous"
  ></script>
</body>
