<head>
    <title>weCode | aboutus</title>
  </head>
  <link rel="stylesheet" href="/styles/insights.css" />
  


<div class="element-head">
    <h2 class="h2">Insights</h2>
    <p class="text">Get a  better understanding of your audience through clear analytics of the total 
        number of clicks, page views and other insights.</p>
</div>
<section class=" section">
    <div class="box  box1">
        <div class="icon-container"><i class="fa-solid fa-eye"></i></div>
        <h4 class="element-box-header">0</h4>
        <p class="element-box-p">Views</p>
    </div>
    <div class="box box2">
        <div class="icon-container"><i class="fa-solid fa-arrow-trend-up"></i></div>
        <h4 class="element-box-header">0</h4>
        <p class="element-box-p">Clicks</p>
    </div>
    <div class="box box3"> 
        <div class="icon-container"><i class="fa-solid fa-user-plus"></i></div>
        <h4 class="element-box-header">0</h4>
        <p class="element-box-p">Referrals</p>
    </div>
    <div class="box box4">
        <div class="icon-container"><i class="fa-sharp fa-solid fa-briefcase"></i></div>
        <h4 class="element-box-header">0</h4>
        <p class="element-box-p">Revenue</p>
    </div>
    <div class="box box5">
        <div class="icon-container order-icon"><i class="fa-solid fa-lock"></i></div>
       <h4 class="element-box-header order">0</h4>
       <p class="element-box-p">Order</p></div>

       
   </div>
</section>
<div class="help">
<p class="help-p">Need Help</p>
<i class="fa-solid fa-circle-question"></i>
</div>
