<%- include('../partials/navbar'); -%>
<script
  src="https://kit.fontawesome.com/51e04b70b4.js"
  crossorigin="anonymous"
></script>

<head>
  <title>weCode | payments</title>
</head>
<link rel="stylesheet" href="/styles/payment.css" />

<article class="settings-container_side-panel">
  <span href="" class="back-flex" id="back">
    <i class="fa-solid fa-arrow-left"></i>
    <p class="back-text">Back to Site Dashboard</p>
  </span>
  <div class="left-pane_top-container">
    <img class="user-pfp" src="Ellipse 4.png" alt="user-pfp" />
    <p class="user-name">Fatimah Oladigbolu</p>
    <p class="user-email">foladigbolu@gmail.com</p>
  </div>

  <p class="settings-btn"><a href="">Account Settings</a></p>
  <p class="settings-btn"><a href="">Domains</a></p>
  <p class="settings-btn"><a href="">Premium Subscriptions</a></p>
  <p class="settings-btn"><a href="">Payment Method</a></p>
  <p class="settings-btn"><a href="">Log Out</a></p>
</article>

<section class="settings-container_main-panel">
  <div class="payment-container">
    <div class="payment-container-left">
      <h3>Payment Methods</h3>
      <p>View and manage the payment methods in your account</p>
    </div>
    <button class="btn"><a href="#">Add a Payment Method</a></button>
  </div>
  <div class="card-container">
    <img class="bank-card" src="blue bank card.png" alt="" />
    <p class="card-text">You don't have any payment in your account yet</p>
    <p class="card-text card-text2">
      Payment methods you use to purchase premium services like plans, domains
      and business emails will be saved here
    </p>
    <p class="add-payment">
      <i class="fa-solid fa-plus"></i> Add a payment method
    </p>
  </div>
</section>
