<%- include('../partials/navbar2'); -%>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weCode | Preview</title>
    <link rel="stylesheet" href="/public/styles/preview.css"/>
    <!-- add fontawesome -->
    <script src="https://kit.fontawesome.com/51e04b70b4.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- nav -->
    <header></header>

    <!-- preview header -->
    <h3 class="preview-header">Preview</h3>

    <!-- preview outer container -->
    <section class="preview-container">

        <!-- background preview box -->
        <div class="preview-box">
            <h4 class="preview-box_header">Background</h4>
            <p class="preview-box_subtext">
                Some default mode in your page
            </p>

            <!-- preview box inner flex -->
            <div class="preview-box_flex">
                <span class="preview-box_flex-inner">
                    <h5 class="preview-box_flex-header">Light</h5>
                    <i class="fa-solid fa-circle-check preview-box_icon"></i>
                </span>
                <span class="preview-box_flex-inner">
                    <h5 class="preview-box_flex-header">Dark</h5>
                    <i class="fa-regular fa-circle-check preview-box_icon"></i>
                </span>
                <span class="preview-box_flex-inner">
                    <h5 class="preview-box_flex-header">Automatic</h5>
                    <i class="fa-regular fa-circle-check preview-box_icon"></i>
                </span>
            </div>
        </div>

        <!-- border preview box -->
        <div class="preview-box">
            <h4 class="preview-box_header">Border</h4>
            <p class="preview-box_subtext">
                Select your preferred border style for your page elements
            </p>

            <!-- preview box inner flex -->
            <div class="preview-box_flex">
                <span class="preview-box_flex-inner">
                    <h5 class="preview-box_flex-header">Default</h5>
                    <i class="fa-solid fa-circle-check preview-box_icon"></i>
                </span>
                <span class="preview-box_flex-inner">
                    <h5 class="preview-box_flex-header">Rectangle</h5>
                    <i class="fa-regular fa-circle-check preview-box_icon"></i>
                </span>
                <span class="preview-box_flex-inner">
                    <h5 class="preview-box_flex-header">Rounded</h5>
                    <i class="fa-regular fa-circle-check preview-box_icon"></i>
                </span>
            </div>
        </div>

        <!-- colour previw box -->
        <div class="preview-box">
            <h4 class="preview-box_header">Colour</h4>
            <p class="preview-box_subtext">
                Customize every colour on your page
            </p>

            <!-- preview box inner flex -->
            <div class="preview-box_flex colour-flex">
                <span class="colour-circle"></span>
                <span class="colour-circle"></span>
                <i class="fa-solid fa-circle-check preview-box_icon colour-check"></i>
                <span class="colour-circle"></span>
                <span class="colour-circle"></span>
                <span class="colour-circle"></span>
                <span class="colour-circle"></span>
                <span class="colour-circle"></span>
            </div>
        </div>

        <!-- font preview box -->
        <div class="preview-box">
            <h4 class="preview-box_header">Font</h4>
            <p class="preview-box_subtext">
                Choose a font that suits your page
            </p>

            <!-- preview box inner flex -->
            <div class="preview-box_flex">
                <span class="preview-box_flex-inner font-flex">
                    <h5 class="preview-box_flex-header">Roboto</h5>
                    <i class="fa-solid fa-circle-check preview-box_icon"></i>
                    <p class="font-flex_subtext">Regular, Medium</p>
                </span>
                <span class="preview-box_flex-inner font-flex">
                    <h5 class="preview-box_flex-header">Inter</h5>
                    <i class="fa-regular fa-circle-check preview-box_icon"></i>
                    <p class="font-flex_subtext">Regular, Medium</p>
                </span>
                <span class="preview-box_flex-inner font-flex">
                    <h5 class="preview-box_flex-header">Sans Pro</h5>
                    <i class="fa-regular fa-circle-check preview-box_icon"></i>
                    <p class="font-flex_subtext">Regular, Medium</p>
                </span>
            </div>
        </div>

    </section>
</body>