<head>
  <title>weCode | resetpassword</title>
</head>
<link rel="stylesheet" href="/styles/signup.css" />

<body>
  <a class="navbar-brand" href="/">
    <img src="images/weCode.png" alt="" />
  </a>
  <div class="sign-up_container container">
    <!-- left/form section of the sign-up container -->
    <div class="sign-up_form login_form">
      <h1 class="sign-up_header">Do you want to Change your password?</h1>
      <!-- form -->
      <form action="/requestresetpassword" method="post" class="">
        <input type="email" name="email" placeholder="enter your email" />
        <input type="submit" class="login_btn" value="Request New Password" />
        <!-- Change password -->
        <a href="/changepassword"
          ><label for="btn forgot-pass" class="agree-terms forgot-pass"
            >Change password?</label
          ></a
        >
      </form>
    </div>
    <!-- right/image section of the sign-up container -->
    <div class="sign-up_img"></div>
  </div>
</body>
