<head>
  <title>weCode | resetpassword</title>
</head>
<link rel="stylesheet" href="/styles/resetpassword.css" />
<img class="center-image" src="<%= 'images/image9.png' %>" alt="" />
<form action="/register" method="post" class=""></form>
