<%- include('partials/header'); -%> <%- include('partials/navbar'); -%>

<link rel="stylesheet" href="/SignUp.css" />

<div style="width: 50%; text-align: left; margin-top: 2em; padding-left: 10px">
  <a href="/"><i class="fa-solid fa-arrow-left fa-2x"></i> Back to Home Page</a>
  <label style="color: black; -webkit-text-stroke: 1px white; width: 100%"
    ><i class="fa-solid fa-arrow-left fa-2x"></i
  ></label>
</div>
<h1></h1>
<!-- <h1>Welcome to Our Page</h1>
<a href="/register">Sing Up</a>
<a href="/Login">Login</a>
<a href="/logout">Logout</a> -->
