<head>
  <link rel="stylesheet" href="/styles/sidebar.css" />
</head>

<body>
  <!-- nav -->
  <header></header>

  <!-- side panel -->
  <article class="settings-container_side-panel">
    <!-- back to dashboard -->
    <span href="" class="back-flex" id="back">
      <i class="fa-solid fa-arrow-left"></i>
      <p class="back-text">Back to Site Dashboard</p>
    </span>

    <!-- profile picture and name/email -->
    <div class="left-pane_top-container">
      <img class="user-pfp" src="./images/user-pfp.png" alt="user-pfp" />
      <p class="user-name">Fatimah Oladigbolu</p>
      <p class="user-email">foladigbolu@gmail.com</p>
    </div>

    <div class="settings-flex">
      <!-- settings icon: for mobile-->
      <i class="fa-solid fa-gear settings-icon" title="Account Settings"></i>
      <i class="fa-solid fa-globe settings-icon" title="Domains"></i>
      <i
        class="fa-solid fa-sack-dollar settings-icon"
        title="Premium Subscriptions"
      ></i>
      <i
        class="fa-solid fa-credit-card settings-icon"
        title="Payment Methods"
      ></i>
      <i
        class="fa-solid fa-right-from-bracket settings-icon"
        title="Log out"
      ></i>

      <!-- settings buttons: for desktop -->
      <p class="settings-btn"><a href="">Account Settings</a></p>
      <p class="settings-btn"><a href="">Domains</a></p>
      <p class="settings-btn"><a href="">Premium Subscriptions</a></p>
      <p class="settings-btn"><a href="">Payment Method</a></p>
      <p class="settings-btn"><a href="">Log Out</a></p>
    </div>
  </article>

  <!-- main panel -->
  <section class="settings-container_main-panel"></section>
</body>
