<%- include('../partials/header'); -%> <%- include('../partials/navbar'); -%>
<head>
  <title>weCode | SignUp</title>
  <head>
    <title>weCode | signup</title>
  </head>
  <link rel="stylesheet" href="/styles/SignUp.css" />
  <img class="center-image" src="<%= 'images/image9.png' %>" alt="" />
  <form action="/register" method="post" class=""></form>
</head>
