<!-- views/pages/auth.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <!-- <h1><span>🤣😋</span> WELCOME TO THIS TEST APPLICATION</h1>
        <p>YOU HAVE SUCCESSFULLY LOGIN.</p>
        <a href="/">Go to Home Page</a>
        <a href="/logout" class="btn btn-danger"
          ><span class="fa fa-google"></span> Sign Out Here</a
        > -->
        <img class="center-image" src="<%= 'images/loading.png' %>" alt="" />
        <h1>LOADING</h1>
        <P>It will take a few seconds</P>
      </div>
    </div>
  </body>
</html>
