<!-- views/pages/auth.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Google SignIn</title>
    <link
      rel="icon"
      type="images/x-icon"
      sizes="16x16 32x32 96x96 120x120 180x180 300x300 512x512"
      href="/images/favicon32x32.ico"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center text-primary">
        <h1><span>🤣😋</span> WELCOME TO THIS TEST APPLICATION</h1>
        <p>YOU HAVE SUCCESSFULLY LOGIN.</p>
        <button
          style="
            background-color: #623cea;
            padding: 16px 20px;
            color: white;
            font-size: 16px;
            border: none;
          "
        >
          <a href="/" style="color: white">Go to Home Page</a>
        </button>
        <button
          type="button"
          class="nav-btn1"
          style="
            background-color: #623cea;
            padding: 16px 20px;
            color: white;
            font-size: 16px;
            border: none;
          "
        >
          <a href="/dashboard" style="color: white">
            Hello, <%= currentUser.email %>
            <img src="images/profile.png" alt="" />
          </a>
        </button>
        <a href="/logout" class="btn btn-danger"
          ><span class="fa fa-google"></span> Sign Out Here</a
        >
        <!-- <img class="center-image" src="<%= 'images/loading.png' %>" alt="" />
        <h1>LOADING</h1>
        <P>It will take a few seconds</P> -->
      </div>
    </div>
  </body>
</html>
