<%- include('../partials/header'); -%> <%- include('../partials/navbar2'); -%>
<head>
  <title>weCode | template</title>
  <link rel="stylesheet" href="/styles/template.css" />
</head>

<body>
  <main>
      <div class="banner">
        <div class="banner_text">
          <h1>Choose a website template you love</h1>
          <p>
            Thousands of businesses, ideas and profiles have been launched on
            Wecode. Which template will you choose?
          </p>
        </div>
      </div>
      <div class="commercial-templates">Commercial Templates</div>
      <section class="templates">
        <div class="image-container">
          <div class="template">
            <a href="">
              <img src="images/template1.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Dolphin</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template2.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Busy Bee</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template3.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Happy Leel</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template4.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Rosabel</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template5.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Joy-girl</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template6.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Cadence</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template7.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">PopularJ</a>
          </div>
          <div class="template">
            <a href="">
              <img src="images/template8.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">AlfforVon</a>
          </div>
          <div class="template hidden-template">
            <a href="">
              <img src="images/template9.png" alt="" />
              <div class="more-download">
                <a href="">
                  <button class="btn1">More Info</button>
                </a>
                <a href="">
                  <button class="btn2">Download</button>
                </a>
              </div>
            </a>
            <a href="" class="image-title">Crystal</a>
          </div>
        </div>
        <a href="">
          <button class="load">Load more Templates</button>
        </a>
      </section>
      <section class="theme-container">
        <a href="">
          <div class="theme">
            <h3>Add Your Theme</h3>
            <p>
              The weCode theme directory is used by millions of WeCode users
              all over the world. Submit your theme to the official.
            </p>
          </div>
        </a>
        <a href="">
          <div class="theme">
            <h3>Create a Theme</h3>
            <p>
              Want to learn how to build a great theme? Read the Theme Developer
              Handbook everything about weCode theme resispiratory.
            </p>
          </div>
        </a>
        <a href="">
          <div class="theme">
            <h3>Stay Up-to-date</h3>
            <p>
              Trying to ensure a great experience for the Read the Theme
              Developer Handbook theme authors and users, means that theme.
            </p>
          </div>
        </a>
      </section>
    </main>
  <%- include('../partials/footer'); -%>
</body>
