@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Roboto', sans-serif;
   background-color: #FFFFFF;
   width: 100%;
}
.aboutus-head{
   background-color:  #7C5DED;
}

.head-h{
   font-size: 40px;
   font-weight: 600;
   line-height: 25px;
   color:  #FFFFFF;
   
}
.head-p{
  color:  #FFFFFF;
  padding-top: 25px;
}
.text-head{
   font-size: 28px;
   font-weight: 220;
   background-color: #221144;
   color:  #FFFFFF;
   padding: 1rem;
   text-align: center;
   width: 100%;
}
.text-p{
   margin: 5px 0px 0px;
   line-height: 25px;
   font-family: 'Roboto', sans-serif;
   font-weight: 20;
   font-size: 15px;
   text-align: justify;
   width: 95%;
   padding-top: 15px;
   padding-bottom: 15px;
   padding-left: 60px;

}