@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 
*{
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Roboto', sans-serif;
   background-color: #FFFFFF;
}
.aboutus-head{
   background-color:  #7C5DED;

}
.head-h{
   font-size: 48px;
   font-weight: 700;
   line-height: 56px;
   padding: 1rem;
   padding-top: 10rem;
   color:  #FFFFFF;
}
.head-p{
   padding: 1rem;
  padding-bottom: ;
  color:  #FFFFFF;
}
.text{
 text-align: center;
}
.text-head{
   font-size: 45px;
   font-weight: 400;
   background-color: #221144;
   color:  #FFFFFF;
   padding: 1rem;
}
.text-p{
   margin: 5px 0px 0px;
   line-height: 26px;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 20px;
}