*{
    padding: 0;
    margin: 0;
}

body{
    background: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    flex-flow: column;
}
main{
    display: flex;
    flex-flow: row;
}
 .side-nav{
    background-color: #39305B;
    font-size: 14px;
    padding: 20px;
    width: 15%;
    color: gray;
    display: flex;
    flex-direction: column
}
.profile-dash{
    display: flex;
    flex-flow: row;
    padding: 10px 35px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.min-dash{
    text-align: end;
}
.acc-dash{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.profile{
    padding-top: 20px;
    padding-left: 10px;

}
.main-dash{
    background-color: #ECF0FA;
    width: 85%;
}
.main-profile{
    font-size: 45px;
    font-weight: 300;
}
.profile-img{
    margin-right: 8px;
    width: 100px;
}

.select{
    padding: 8px 20px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #2D0DB1;
    font-size: 16px;
}
 .sections{
    
    padding: 12px 20px;
    margin-top: 10px;
    font-size: 16px;
    width: 80%;
} 
.section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px;

   
}

.section1, .section2, .section3, .section4{
    border: 2px solid #ffff;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: #ffff;
    margin-bottom: 10px;
    box-sizing: border-box;
    
}
.dash-content{
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 10px 10px; 
}
.min-content{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.min-content1{
    padding: 10px;
}
.min-content3{
    display: flex;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 14px;
    
}
.content4{
    text-align: justify;
    color: #7C5DED;
    padding-left: 20px;
}
.acc-dash1{
    display: flex;
    border-bottom: 1px solid black;
    
}
.profile-img1{
    width: 100px; 
    padding: 10px 15px;
}
.img-content{
    padding: 10px 15px;
}

.ld-more{
    border: 2px solid #623CEA;
    background-color: #623CEA;
    outline: none;
    color: #ffff;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius:10px ;
    font-weight:bold ;
}

input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.box-blog{
    
    border: 1px solid black;
    padding: 10px;
}
.box-blog1{
    border-bottom: 1px solid black ;
    padding-top: 10px;
    text-align: justify;
}
.section3{
    height: 40%;
}





.side-bar_menu-item {
    display: flex;
    align-items: center;
    padding: .7em 2% .7em 3.5em;
    transition: 0.2s;
    position: relative;
    align-content: center;
}

.side-bar_menu-item:hover {
    background-color: #6B6A71;
    color: var(--white);
}

#logout-menu-item {
    cursor: pointer;
}

.side-bar_menu-icon_container {
    width: 24px;
}

.side-bar_menu-text {
    font-size: .875rem;
    margin-left: .5em;
}

/* logout popup window : hidden on default */
.logout-popup {
    width: fit-content;
    border-radius: 24px;
    text-align: center;
    background-color: var(--white);
    position: fixed;
    z-index: 999;
    left: calc(85% / 2);
    top: 33%;
    display: none;
}

.logout-header {
    font-size: 1.5rem;
    padding: 1.5em 4em 1em;
}

.logout-subtext {
    font-size: 1rem;
    padding: 0 5em 2em;
}

.logout-flex {
    display: flex;
    border-top: 1px solid #C6C6C6;
    align-items: center;
    justify-content: space-around;
}

.logout-cancel {
    border-right: 1px solid #C6C6C6;
    width: 50%;
    padding: 1.5em 0;
    position: relative;
    cursor: pointer;
}

.logout-logout {
    width: 50%;
    color: #C61D1D;
    padding: 1.5em 0;
    position: relative;
}

a {
    color: rgb(121, 119, 119);
    font-weight: 300;
}

ul {
    list-style: none;
}

.min-content5{
    display: flex;
    flex-direction: row;
    align-content: center;
}

.box-blg{
    padding: 10px;
    text-align: justify;
}