* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
  flex-flow: column;
}
main {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main-dash {
  position: relative;
  padding-top: 100px;
}

.profile-dash {
  display: flex;
  flex-flow: row;
  padding: 10px 35px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.min-dash {
  display: flex;
  flex-direction: column;
}

.min-dash a {
  text-align: end;
  text-decoration: none;
  color: #151313;
  cursor: pointer;
}

.min-dash a:hover {
  text-decoration: underline;
}
.acc-dash {
  display: flex;
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.profile {
  /* padding-top: 20px;
  padding-left: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}

.profile p {
  color: #151313;
}

.profile span {
  color: #4f4f4f;
}

.main-dash {
  background-color: #ecf0fa;
  width: 80%;
}
.main-profile {
  font-size: 45px;
  font-weight: 300;
  color: #151313;
}

.profile-img {
  margin-right: 8px;
  width: 100px;
  filter: invert(61%) sepia(0%) saturate(0%) hue-rotate(121deg) brightness(90%)
    contrast(76%);
}

.select {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid #2d0db1;
  font-size: 16px;
}
.sections {
  padding: 12px 20px;
  margin-top: 10px;
  font-size: 16px;
  width: 80%;
}
.section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px;
}

.section1,
.section2,
.section3,
.section4 {
  border: 0;
  border-radius: 3px;
  background-color: #ffff;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.dash-content {
  font-weight: bold;
  border-bottom: 1px solid #e5dede;
  width: 100%;
  color: #151313;
  padding: 10px;
}
.min-content {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px;
}

.min-content1 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
}

.min-title {
  color: #151313;
  font-weight: bold;
  font-size: 0.9em;
  padding: 10px 10px 25px;
}

.min-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 10px;
}

.min-content3 {
  display: flex;
  font-size: 14px;
  gap: 1em;
  padding: 0 15px;
}

.min-content3 p:nth-of-type(1) {
  color: #151313;
  font-size: 0.9em;
}

.fa-file-circle-plus,
.fa-message,
.fa-thumbtack {
  color: #4f4f4f;
}

.min-content5 {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.content4 {
  text-align: justify;
  color: #623cea;
  font-size: 0.9em;
  text-decoration: none;
}

.content4:hover {
  text-decoration: underline;
}

.multipurpose-text {
  color: #797979;
  font-size: 0.8em;
}

.acc-dash1 {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5dede;
  gap: 1em;
  font-size: 0.9em;
  padding: 10px;
}
.profile-img1 {
  width: 50px;
  height: 50px;
}

.img-content {
display: flex;
flex-direction: column;
gap: 0.5em;
}

.img-content a {
  color: #623cea;
}

.ld-more {
  border: 0;
  background-color: #623cea;
  outline: none;
  color: #ffff;
  margin: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.ld-more:hover {
  opacity: 0.9;
}

.form-container {
  padding: 0px 10px;
}

.formstyle input,
.formstyle textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e5dede;
}

.box-blog {
  border: 1px solid #e5dede;
  margin: 10px;
}
.box-blog1 {
  border-bottom: 1px solid #e5dede;
  text-align: justify;
  color: #4f4f4f;
  font-size: 0.95em;
  padding: 10px;
}

.box-blg {
  border-top: 1px solid #e5dede;
  text-align: justify;
  padding: 10px;
}

.box-blg p:nth-of-type(1) {
     color: #4f4f4f;
     font-size: 0.9em;
}

.box-blg p:nth-of-type(2) {
     color: #797979;
     font-size: 0.8em;
}

.section4 {
  padding-bottom: 10px;
}

a {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
.main-dash {
  width: 100%;
  padding: 40px 0;
}

.section {
  flex-direction: column;
}

.sections {
  width: 100%;
  padding: 10px 5px;
}

.profile-dash {
  padding: 15px 20px;
}

.main-profile {
  font-size: 30px;
}

.profile-img {
  width: 60px;
  height: 60px;
}


.acc-dash {
  gap: 0.5em;
  flex-direction: column;
}

.min-dash {
  font-size: 0.9em;
}

.min-content3 {
  flex-direction: column;
  gap: 0em;
}
}

