* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
/*   
  body {
    max-width: 100vw;
  } */
  
  footer {
    display: flex;
    flex-direction: column;
    gap: 3em;
    /* padding: 50px 4% 30px; */
    background: white;
    color: #303030;
    font-family: "Roboto";
    border-top: 50px solid #21144e;
    width: 100%;
  }
  
  .container1 {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 1.1em;
  }
  
  .title {
    font-size: 1.3em;
    font-weight: bold;
  }
  
  .container a {
    text-decoration: none;
    color: black;
  }
  
  .container a:hover {
    text-decoration: underline;
    transition: ease-in-out 0.5s;
  }
  
  .container ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-weight: 100;
    font-size: 1.0em;
  }
  
  .container2 {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }
  
  .socials-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .logo {
    color: #303030;
    text-decoration: none;
    font-weight: 900;
    font-size: 2em;
  }
  
  .socials {
    display: flex;
    gap: 1.5em;
  }
  
  .socials img {
    width: 22px;
    height: 22px;
  }
  
  .socials img:hover {
    opacity: 0.7;
  }
  
  .copyright {
    display: flex;
    gap: 1em;
    font-size: 0.8em;
  }
  
  .language-container img {
    width: 18px;
    height: 18px;
  }
  
  .btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    width: 170px;
    height: 40px;
    padding: 0 5px;
    background: white;
    border: 1px solid #303030;
    color: #303030;
    border-radius: 2px;
  }
  
  .language-container select {
    background: transparent;
    border: 0;
    width: 150px;
    font-size: 1.3em;
    font-weight: 400;
  }
  
  a button {
    cursor: pointer;
  }
  
  a {
    cursor: pointer;
  }