* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.banner {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 30vh 5%;
  width: 100%;
  background: linear-gradient(
      115deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(/images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.banner_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1em;
  width: 60%;
  color: white;
}

.banner_text {
  gap: 0.7em;
}

.banner_text h1 {
  font-size: 55px;
  font-weight: 900;
  line-height: 70px;
  font-family: "Inter";
}

.banner_text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
}

.btnA {
  margin-top: 10px;
  width: 200px;
  height: 55px;
  cursor: pointer;
  background: #623cea;
  border: 1px solid #623cea;
  border-radius: 5px;
  outline: none;

  transition: 1s ease-in-out;
}

.btnA:hover {
  transition: 1s ease-in-out;
  background: transparent;
}

.btnA:hover svg {
  stroke-dashoffset: -480;
}

.btnA a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.industry-features {
  font-size: 2.5em;
  color: white;
  font-family: "Roboto";
  background: #21144e;
  padding: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.industry-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding: 2.5% 0;
}

.industry-container2 {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  gap: 2em;
  align-items: center;
  justify-content: center;
  padding: 2.5% 0;
}

.industry-container a {
  text-decoration: none;
  color: #303030;
}

.industry-container2 a {
  text-decoration: none;
  color: #303030;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 30px 10px;
  height: 220px;
}

.card:hover {
  background-color: #623cea10;
  transform: scale(1.1);
}

.card img {
  width: 25px;
  height: 25px;
}

.card h3 {
  font-size: 1.4em;
  font-weight: 100;
  font-family: "Inter";
}

.card p {
  font-family: "Inter";
  font-size: 0.95em;
}

.landing_tested {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
  /* margin-top: -30px; */
  padding-top: 4%;
  background-color: #21144e;
  color: white;
}

.tested_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.landing_tested h4 {
  font-size: 2.7em;
  font-weight: 900;
  font-family: "Inter";
  color: white;
}

.tested_text p {
  text-align: center;
  width: 80%;
  font-family: "Roboto";
}

.image_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* flex-wrap: wrap; */
  gap: 1em;
}

.tested-img {
  width: 100%;
  max-height: 100%;
}

.tested-img:hover {
  opacity: 0.4;
  transition: 0.3s;
}

.imageOverlay-container {
  position: relative;
}

.image-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-family: "Roboto";
}

.imageOverlay-container:hover .image-overlay {
  opacity: 1;
}

.image-overlay:hover .tested-img {
  opacity: 0.4;
}

.image-overlay span {
  color: white;
  font-weight: bold;
  font-size: 17px;
}

.image-overlay p {
  font-size: 14px;
}

.sell {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2.5% 0;
  background-color: #21144e;
  width: 100%;
}

.sell-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
  color: white;
}

.sell-text h4 {
  font-size: 2.7em;
  font-weight: 900;
  font-family: "Inter";
}

.sell_p {
  font-family: "Roboto";
  width: 60%;
  font-size: 20px;
  font-weight: bold;
}

.sell-card-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1em;
}

.sell-card {
  background-color: white;
  height: 200px;
  color: #303030;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  padding: 0 20px 50px;
  font-family: "Roboto";
}

.sell-card img {
  width: 24px;
  height: 20px;
  display: block;
  margin: auto;
}

.sell-card span {
  font-weight: 900;
  font-size: 20px;
}

.sell-card p {
  font-size: 14px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  background-color: white;
  padding: 5%;
  font-family: "Roboto";
}

.about h3 {
  font-size: 2.5em;
  font-weight: 900;
  color: #303030;
  text-align: center;
}

.about span {
  font-size: 1.5em;
  color: #303030;
}

.about p {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.btn5 {
  border: 0;
  border-radius: 5px;
  background: #2d0db1;
  color: white;
  width: 230px;
  padding: 16px 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 17px;
}

.buttond {
  text-align: center;
  margin: auto;
}

a .btn5:hover {
  background-color: #21144e;
  transition: 0.3s ease-in-out 0.1s;
  transition-timing-function: linear;
}

@media screen and (max-width: 768px) {
  .banner {
    height: 60vh;
    padding: 15vh 5%;
  }

  .banner_text {
    width: 95%;
    height: 50vh;
  }

  .banner_text h1 {
    font-size: 34px;
    line-height: normal;
  }

  .banner_text p {
    font-size: 1em;
  }

  .btnA {
    width: 180px;
    height: 50px;
    font-size: 1em;
  }

  .industry-features {
    font-size: 1.5em;
  }

  .industry-container {
    grid-template-columns: 25% 25% 25%;
    padding: 5% 0;
  }

  .industry-container2 {
    grid-template-columns: 40% 40%;
    padding: 5% 0;
  }

  .card {
    height: 180px;
    gap: 0.5em;
    padding: 20px 5px;
  }

  .card h3 {
    font-size: 1.1em;
  }

  .card p {
    font-size: 0.8em;
  }

  .industry-container2 .card {
    height: 150px;
  }

  .landing_tested {
    padding: 5% 5% 0;
  }

  .tested_text {
    gap: 0.5em;
  }

  .landing_tested h4 {
    font-size: 1em;
  }

  .tested_text p {
    font-size: 0.8em;
    width: 90%;
  }

  .image-overlay span {
  font-size: 14px;
}

.image-overlay p {
  font-size: 12px;
}

  .image_container {
    padding: 0 5% 5%;
    grid-template-columns: auto auto;
  }

  .landing_tested img {
    height: 100%;
  }

  .sell {
    padding: 5% 5%;
    gap: 1.3em;
  }

  .sell-text {
    gap: 0.5em;
  }

  .sell-text h4 {
    font-size: 1em;
  }

  .sell_p {
    font-size: 0.8em;
    width: 100%;
    font-weight: normal;
  }

  .sell-card-container {
    display: grid;
    grid-template-columns: auto auto;
  }

  .sell-card {
    padding: 20px;
  }

  .sell-card img {
    width: 20px;
    height: 20px;
  }

  .sell-card span {
    font-size: 1em;
  }

  .sell-card p {
    font-size: 0.8em;
  }

  .about {
    gap: 0.5em;
  }

  .about h3 {
    font-size: 1.8em;
  }

  .about p {
    font-size: 0.8em;
    width: 100%;
  }

  .landing_p2 {
    display: none;
  }

  .btn5 {
    width: 120px;
    padding: 10px 12px;
    font-size: 15px;
  }
}
