/* * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
  } */
  
  /* body {
    max-width: 100vw;
  }
  
  header {
    background: #21144e;
    height: 10vh;
    padding: 0 4%;
    width: 100vw;
  } */
  
  .navbar {
    background: #21144e;
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  
  .navbar-brand {
    color: white;
    text-decoration: none;
    font-weight: 900;
    font-size: 2em;
  }
  
  .nav-flex1 {
    display: flex;
    align-items: center;
    gap: 3vw;
  }
  
  .nav-flex2 {
    display: flex;
    gap: 2vw;
    align-items: center;
  }
  
  .collapsey ul {
    display: flex;
    list-style: none;
    gap: 1.2em;
  }
  
  .nav-lin, .nav-item a {
    color: white;
    text-decoration: none;
    font-family: "Roboto";
  }
  
  .nav-link:hover, .nav-item a:hover {
    text-decoration: underline;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
    gap: 1.2em;
  }
  
  form {
    background-color: #21144e;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: 1px solid #fff;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    width: 150%;
  }
  
  form > button {
    background: transparent;
    border: 0;
  }
  
  form img {
    filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(172deg)
      brightness(101%) contrast(104%);
    width: 18px;
  }
  
  input {
    background-color: #21144e;
    color: white;
    border: 0;
    outline: 0;
    padding: 0 5px;
    height: 25px;
    width: 100%;
  }
  
  ::placeholder {
    color: white;
    opacity: 0.8;
  }
  
  .nav-link button:hover {
    background-color: white;
    color: #21144e;
    border: 1px solid white;
    transition: 0.2s ease-in-out 0.2s;
  }
  
  .nav-btn1 {
    border: 1px solid #623cea;
    background: transparent;
    color: white;
    /* padding: 5px 10px; */
    width: 70px;
    height: 30px;
    min-width: 90%;
    border-radius: 5px;
    font-family: "Inter";
    font-size: 1em;
    font-weight: bold;
  }
  
  .nav-btn2 {
    border: 1px solid #623cea;
    background: #623cea;
    color: white;
    width: 110px;
    height: 30px;
    min-width: 90%;
    border-radius: 5px;
    font-family: "Inter";
    font-size: 1em;
    font-weight: bold;
  }