/* side bar */

.settings-container_side-bar {
    background-color: #39305B;
    width: 15%;
    inset: 0;
    top: 5.75em;
    overflow: auto;
    padding-top: 2em;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.side-bar_menu {
    color: #8B8888;
    margin: 0 0 2em;
}

.side-bar_menu-item {
    display: flex;
    align-items: center;
    padding: .7em 2% .7em 3.5em;
    transition: 0.2s;
    position: relative;
}

.side-bar_menu-item:hover {
    background-color: #6B6A71;
    color: var(--white);
}

#logout-menu-item {
    cursor: pointer;
}

.side-bar_menu-icon_container {
    width: 24px;
}

.side-bar_menu-text {
    font-size: .875rem;
    margin-left: .5em;
}

/* main panel */
.settings-container_main-panel {
    background-color: var(--gray);
    width: 85%;
    position: relative;
    left: 15%;
    min-height: 100vh;
    padding: 3em 4em;
}

.overlay {
    inset: 0;
    background-color: var(--very-dark-gray);
    position: absolute;
    opacity: 0.5;
    display: none;
    z-index: 50;
}

/* logout popup window : hidden on default */
.logout-popup {
    width: fit-content;
    border-radius: 24px;
    text-align: center;
    background-color: var(--white);
    position: fixed;
    z-index: 999;
    left: calc(85% / 2);
    top: 33%;
    display: none;
}

.logout-header {
    font-size: 1.5rem;
    padding: 1.5em 4em 1em;
}

.logout-subtext {
    font-size: 1rem;
    padding: 0 5em 2em;
}

.logout-flex {
    display: flex;
    border-top: 1px solid #C6C6C6;
    align-items: center;
    justify-content: space-around;
}

.logout-cancel {
    border-right: 1px solid #C6C6C6;
    width: 50%;
    padding: 1.5em 0;
    position: relative;
    cursor: pointer;
}

.logout-logout {
    width: 50%;
    color: #C61D1D;
    padding: 1.5em 0;
    position: relative;
}

.account-settings_header {
    font-size: 2rem;
    margin-bottom: .25em;
}

.account-settings_subtext {
    font-size: .875rem;
    margin-bottom: 2em;
}

.info_container {
    background-color: var(--white);
    position: relative;
    border-radius: 10px;
    font-size: .875rem;
    margin-bottom: 2em;
}

.info_header {
    font-size: 1rem;
}

.info_top {
    border-bottom: 1px solid var(--very-dark-gray);
    padding: 1.5em;
}

.info_bottom {
    padding: 2.5em 1.5em 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_bottom-left {
    width: 50%;
}

.info_bottom-right {
    display: grid;
    place-items: center;
}

.info_input {
    width: 100%;
    border-radius: 5px;
    border: .5px solid var(--light-gray);
    padding: .875em .65em;
    margin-top: .25em;
}

.info_label {
    display: flex;
    color: var(--dark-gray);
    font-size: .85rem;
    font-weight: 600;
}

.lname {
    margin-top: 2em;
}

.login-bottom {
    border-bottom: 1px solid var(--very-dark-gray);
}

.login-bottom_accemail-confirmed {
    display: flex;
    gap: 1em;
}

.fa-check {
    color: green;
}

.edit-password_btn {
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple);
    padding: .65em 1em;
    border-radius: 5px;
}

.control-what-emails {
    color: var(--dark-gray);
    margin-top: .5em;
}

.promotions-container {
    display: block;
}

.promotions-box {
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    width: 50%;
    margin-bottom: 2em;
}

.promotions-box_top {
    padding-bottom: 1em;
}

#languages {
    padding: .65em .5em;
    width: 50%;
    border-radius: 5px;
}

.delete-account_container {
    margin-bottom: 3em;
}

.delete-account_text {
    margin-bottom: .25em;
    line-height: 1.25rem;
}

.save-changes {
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    padding: .8em 3em;
    border: none;
    border-radius: 5px;
    margin: 1em auto;
    display: block;
}

/* responsiveness */

@media (max-width: 500px) {

    .settings-container_side-bar {
        width: 10%;
        top: 6em;
    }

    .side-bar_menu-item {
        justify-content: center;
        text-align: center;
        padding: .7em 0;
    }

    .logo-container {
        margin: 0 auto;
    }

    .logo {
        width: 30px;
    }

    .side-bar_menu-text {
        display: none;
    }

    .settings-container_main-panel {
        padding: 2em 1.5em;
    }

    .account-settings_header {
        font-size: 1.25rem;
        margin-bottom: .25em;
    }

    .account-settings_subtext {
        font-size: .65rem;
    }

    .info_bottom {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 1.5em;
        padding-bottom: 2.5em;
    }

    .info_bottom-left, .info_bottom-right {width: 100%;}

    .info_bottom-right {
        margin-top: 2em;
        display: flex;
        gap: 1em;
    }

    .promotions-container {
        flex-direction: column;
        gap: 2em;
    }

    .promotions-box {
        gap: 7em;
        width: 100%;
    }

    #languages {width: 100%;}
}