body {
    display: flex;
    justify-content: flex-end;
}

.mainn-container {
    width: 80%;
    padding: 100px 30px 20px;
}
.account-settings_header {
    font-size: 2rem;
    margin-bottom: .25em;
}

.account-settings_subtext {
    font-size: .875rem;
    margin-bottom: 2em;
}

.info_container {
    background-color: var(--white);
    position: relative;
    border-radius: 10px;
    font-size: .875rem;
    margin-bottom: 2em;
}

.info_header {
    font-size: 1rem;
}

.info_top {
    border-bottom: 1px solid var(--very-dark-gray);
    padding: 1.5em;
}

.info_bottom {
    padding: 2.5em 1.5em 3em;
    padding-right: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_bottom-left {
    width: 50%;
}

.info_bottom-right {
    display: grid;
    place-items: center;
}

.info_input {
    width: 100%;
    border-radius: 5px;
    border: .5px solid var(--light-gray);
    padding: .875em .65em;
    margin-top: .25em;
}

.info_label {
    display: flex;
    color: var(--dark-gray);
    font-size: .85rem;
    font-weight: 600;
}

.lname {
    margin-top: 2em;
}

.login-bottom {
    border-bottom: 1px solid var(--very-dark-gray);
}

.login-bottom_accemail-confirmed {
    display: flex;
    gap: 1em;
}

.fa-check {
    color: green;
}

.edit-password_btn {
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple);
    padding: .65em 1em;
    border-radius: 5px;
}

.control-what-emails {
    color: var(--dark-gray);
    margin-top: .5em;
}

.promotions-container {
    display: block;
}

.promotions-box {
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    width: 50%;
    margin-bottom: 2em;
}

.promotions-box_top {
    padding-bottom: 1em;
}

#languages {
    padding: .65em .5em;
    width: 50%;
    border-radius: 5px;
}

.delete-account_container {
    margin-bottom: 3em;
}

.delete-account_text {
    margin-bottom: .25em;
    line-height: 1.25rem;
}

.save-changes {
    background-color: var(--purple);
    color: var(--white);
    cursor: pointer;
    padding: .8em 3em;
    border: none;
    border-radius: 5px;
    margin: 1em auto;
    display: block;
}

/* responsiveness */

@media (max-width: 768px) {

    body {
        justify-content: center;
       padding: 0;
    }

    .mainn-container {
        width: 100%;
    }

    .account-settings_header {
        font-size: 1.25rem;
        margin-bottom: .25em;
    }

    .account-settings_subtext {
        font-size: .65rem;
    }

    .info_bottom {
        flex-direction: column;
        align-items: flex-start;
        padding-right: 1.5em;
        padding-bottom: 2.5em;
    }

    .info_bottom-left, .info_bottom-right {width: 100%;}

    .info_bottom-right {
        margin-top: 2em;
        display: flex;
        gap: 1em;
    }

    .promotions-container {
        flex-direction: column;
        gap: 2em;
    }

    .promotions-box {
        gap: 7em;
        width: 100%;
    }

    #languages {width: 100%;}
}