body {background-color: var(--light-purple);}

/* navbar */
header {
    background-color: var(--dark-blue);
    padding: 2em 0;
}

/* side panel */
.settings-container_side-panel {
    background-color: var(--light-purple);
    width: 15%;
    inset: 0;
    top: 4em;
    overflow: auto;
    padding-top: 2.5em;
    position: fixed;
}

.left-pane_top-container {
    text-align: center;
    display: grid;
    place-items: center;
}

.back-flex {
    display: flex;
    gap: 1em;
    margin-bottom: 2.5em;
    margin-left: 1.5em;
    cursor: pointer;
}

.back-text {
    font-size: .875rem;
}

.user-pfp {
    width: 80px;
    margin: 0 auto;
}

.user-name {
    margin-top: 1.5em;
    margin-bottom: .25em;
    font-size: .875rem;
    font-weight: 600;
}

.user-email {
    margin-bottom: 2.5em;
    color: var(--light-gray);
    font-size: .75rem;
}

/* hide settings icon for desktop */
.settings-icon { display: none; }

.settings-btn {
    font-size: .875rem;
    padding: 1em;
    padding-left: 1.5em;
    width: 100%;
    position: relative;
    color: var(--dark-gray);
}

.settings-btn:hover,
.settings-btn:active,
.settings-btn:focus {
    background-color: var(--purple);
    color: var(--white);
}

/* main panel */
.settings-container_main-panel {
    background-color: var(--gray);
    width: 85%;
    position: relative;
    left: 15%;
    min-height: 100vh;
    padding: 3em 2em;
}

/* responsiveness */
@media (max-width: 500px) {

    .back-flex {
        display: block;
        text-align: center;
        margin-bottom: 2em;
        margin-left: 0;
    }

    .back-text {
        display: none;
    }

    .left-pane_top-container {
        display: block;
    }

    .user-pfp {
        width: 40px;
        margin-left: 0;
        margin-bottom: 2em;
    }

    .user-email, .user-name {display: none;}

    /* hide settings icon for mobile */
    .settings-btn { display: none; }

    .settings-icon {
        display: block;
        font-size: 1.125rem;
        margin-bottom: 1.25em;
        text-align: center;
    }

    .settings-flex {
        display: flex;
        flex-direction: column;
    }

    .fa-right-from-bracket {
        color: rgb(245, 113, 113);
    }

    .settings-container_main-panel {
        padding: 2em 1.5em;
    }
}