header {
    background-color: var(--dark-blue);
    padding: 2em 0;
}

/* side bar */

.settings-container_side-bar {
    background-color: #39305B;
    width: 15%;
    inset: 0;
    top: 0; /* top 4em - old top */
    overflow: auto;
    padding-top: 2em;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.side-bar_menu {
    color: #8B8888;
}

.side-bar_menu-item {
    display: flex;
    align-items: center;
    padding: .7em 1em;
    transition: 0.2s;
    position: relative;
}

.side-bar_menu-item:hover {
    background-color: #6B6A71;
    color: var(--white);
}

#collapse-menu,
#logout-menu-item {
    cursor: pointer;
}

.side-bar_menu-icon_container {
    width: 24px;
}

.side-bar_menu-text {
    font-size: .875rem;
    margin-left: .5em;
}

/* main panel */
.settings-container_main-panel {
    background-color: var(--gray);
    width: 85%;
    position: relative;
    left: 15%;
    min-height: 100vh;
    padding: 3em 4em;
}

.overlay {
    inset: 0;
    background-color: var(--very-dark-gray);
    position: absolute;
    opacity: 0.5;
    display: none;
    z-index: 50;
}

/* logout popup window : hidden on default */
.logout-popup {
    width: fit-content;
    border-radius: 24px;
    text-align: center;
    background-color: var(--white);
    position: fixed;
    z-index: 999;
    left: calc(85% / 2);
    top: 33%;
    display: none;
}

.logout-header {
    font-size: 1.5rem;
    padding: 1.5em 4em 1em;
}

.logout-subtext {
    font-size: 1rem;
    padding: 0 5em 2em;
}

.logout-flex {
    display: flex;
    border-top: 1px solid #C6C6C6;
    align-items: center;
    justify-content: space-around;
}

.logout-cancel {
    border-right: 1px solid #C6C6C6;
    width: 50%;
    padding: 1.5em 0;
    position: relative;
    cursor: pointer;
}

.logout-logout {
    width: 50%;
    color: #C61D1D;
    padding: 1.5em 0;
    position: relative;
}

/* collapse functionality styling */
.settings-container_side-bar.active {
    width: 5%;
}

.settings-container_main-panel.active {
    width: 95%;
    left: 5%;
}

.side-bar_menu-item.active {
    padding: .7em 2% .7em 2em;
    margin: 0 auto;
}

.side-bar_menu-text.active {
    display: none;
}

.collapse-icon {
    transition: 0.3s;
    cursor: pointer;
}

.collapse-icon.active {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
}



/* responsiveness */
@media (max-width: 500px) {

    .side-bar_menu-item {
        justify-content: center;
        text-align: center;
    }

    .logo-container {
        margin: 0 auto;
    }

    .logo {
        width: 30px;
    }

    .side-bar_menu-text {
        display: none;
    }

    .settings-container_main-panel {
        padding: 2em 1.5em;
    }
}