*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-blue: #2D0DB1;
    --dark-blue: #21144E;
    --dark-gray: #4F4F4F;
    --light-gray: #9F9F9F;
    --very-dark-gray: #303030;
    --gray: #F7F7F7;
    --white: #fff;
    --purple: #795FE2;
    --pure-purple: #623CEA;
    --light-purple: #ECF0FA;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: var(--very-dark-gray);
}

a, p, h1, h2, h3, h4, h5, h6 {padding: 0; margin: 0;}
a {text-decoration: none; color: inherit;}

.flex {
    display: flex;
    align-items: center;
}

.container {
    padding: 2em 0;
    margin: 0 auto;
    width: 85%;
    max-width: 1440px;
}

.sign-up_container {
    display: flex;
    height: 100vh;
    gap: 2em;
    margin: 1em auto;
}

.sign-up_img {
    width: 50%;
    background-image: url('/public/images/signup-illustration.png');
    object-fit: cover;
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}

.sign-up_form {
    width: 50%;
    padding: 0 3em;
    position: relative;
}

.signup-logo_container {
    text-align: center;
    margin-bottom: 2em;
}

.sign-up_logo {
    max-width: 95px;
}

.sign-up_header {
    font-size: 2rem;
    color: var(--very-dark-gray);
    text-align: center;
}

.sign-up_subtext {
    font-size: .85rem;
    color: var(--dark-gray);
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.log-in_span {
    color: var(--pure-purple);
}

form label {
    display: flex;
    margin-top: 1.5em;
    color: var(--dark-gray);
    font-size: .85rem;
    font-weight: 600;
}

form input {
    width: 100%;
    border-radius: 5px;
    border: .5px solid var(--light-gray);
    padding: 1.25em .5em;
    margin-top: .25em;
}

input::placeholder {
    font-size: .75rem;
}

input:focus {
    border-color: var(--pure-purple);
    outline-color: var(--pure-purple);
}

.btn {
    background-color: var(--pure-purple);
    color: var(--white);
    border: none;
    cursor: pointer;
    padding: .75em 1.25em;
    border-radius: 4px;
}

.btn:hover {
    background-color: #4e2dc6;
}


/* message box: shown when user clicks password field */
#message {
    display: none;
    position: relative;
    padding: .5em;
    margin-top: .5em;
    font-size: .85rem;
}

#message p {
    font-size: .85rem;
    padding-top: .3em;
}

#message h4 {
    color: var(--dark-gray);
    margin-bottom: .35em;
}

/* text color red and "x" icon when password req isn't met */
.invalid {
    color: red;
}

.invalid::before {
    position: relative;
    padding-right: .5em;
    content: "✖";
}

/* text color green and "checked" icon when password req is met */
.valid {
    color: green;
}

.valid::before {
    position: relative;
    padding-right: .5em;
    content: "✔";
}

input[type="submit"] {
    background-color: var(--pure-purple);
    color: var(--white);
    border: none;
    cursor: pointer;
    margin-bottom: 1em;
    transition: 0.2s;
}

input[type="submit"]:hover {
    background-color: #4e2dc6;
}

.agree-terms_flex {
    margin: 1em 0;
    gap: .5em;
}

.agree-terms {
    margin: 0;
}

input[type="checkbox"] {
    width: 2em;
    height: 2em;
    margin-left: 0;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked:hover {
    background-color: var(--purple);    
}


/* style login page */
.login_form {
    margin: auto 0;
}

.forgot-pass {
    margin: .5em 0 2em;
    text-decoration: underline;
    width: fit-content;
    cursor: pointer;
    color: var(--pure-purple);
    font-size: 1rem;
}

.forgot-pass:hover {
    color: #4e2dc6;
}

/* responsiveness */
@media (max-width: 500px) {
    .sign-up_img {
        display: none;
    }

    .sign-up_form {
        width: 100%;
        padding: 0;
    }
}